<!-- ————————————————————————————————————————————————————
	Clinics#edit — for R2 system that includes (i) Rails-based support for Clinic Administrators
	 and authorization limits on purchases by clinicians (and clinic administrators) 
	________________________________________________________
	
	BUGS:
		1. f.buttons to update clinic data goes to Clinic controller action
			that tried to redirect to Clinic#View — a template that does not exist.
			Either create that template, or override the redirect in the controller.
		2. content for individual panes not showing up: jquery tools problem? in css file, the tabs are initially set to display:none; presumably contents show up on clicking a tab, and there if some initialization option that lets you say which tab to display when first put tab set up. 
	-->
<!-- header includes  ——————————————————————————————————————————————————  -->
<%= content_for(:header) do %>
	<style type="text/css">
		
		div#center_column { }
	  	div#clinic_content h2 { 
			background-color: orange;
			color:white;
			padding: 5px 10px 10px 10px;
			width: 155px;
		}
		hr { 
			width:94%;
			float:left;
			margin-top:-11px;
			padding-top:0px;
		}
		div#clinic_content hr {margin-bottom:30px;}
		div#clinic_content h3 {margin-top:20px;}
		div#clinic_content form { margin-bottom:20px; } 
		div#clinic_content a { color:orange; }
		div#clinic_content input {margin-bottom:0px; }
		div#clinic_content label {text-align:right; padding:0px 10px 8px 0px; width: 165px; }
		div#clinic_content p.inline-hints { font-style:italic; color:red; padding-left:10px;padding-top:0px; font-size:10px; margin-top:0px;}
		div#clinic_content input#clinic_submit { margin-left:10px; width: 90px;}
		div#clinic_content input#clinician_submit { margin-left:10px; width:110px;}
		div#clinicians_table { margin-left:20px; }
		div#clinicians_table table th.actions, div#clinicians_table td.actions { color:black; padding-left:20px;}
		form.formtastic fieldset.buttons {margin-left:-36px!important;} /* overrides formtastic 25%. */
		form.formtastic fieldset.buttons ol {margin-left:0px; padding-left:0px;}
		form.formtastic fieldset.buttons ol li {margin-left:0px; padding-left:0px;}
		input#clinic_submit { margin-left:0px; padding-left: 0px; color:orange; width:120px;}
		/*
		form.button_to { max-width:40px; display: inline-block; }
		*/
		div#disclaimer { margin-top:40px; font-style:italic; color:orange;}
		form.formtastic fieldset > ol > li {
		    margin-bottom: 0;
		    margin-top: -0.5em;
		    padding: 0.5em 0;
		}
		/* this style also used by button linking to Netsuite myAccount for clinic */
		.newClinician { line-height:18px; border-radius:3px;}
		.newClinician a { font-size:11px;color:white!important; }
		.tabText { font-weight:bold; color:black!important;}
	</style>

	<script type ="text/javascript">
		$(document).ready(function(){
			/* set up tab panes */
			/* $("ul.css-tabs").tabs("div.css-panes > div"); */
			$("#tabs").tabs();
			/* links within tab that sets up new clinicians for this clinic */
			$("a.mylinks").hover(function(){
				$(this).css("color","blue");
			});

		});

	</script>

<% end %>

<!-- body includes  ————————————————————————————————————————————————————  -->

<%= content_for(:middleBand) do %>
	<div id="left_column" >

		<!-- menu —————————————————————————————————————————— -->
		<%= render(:partial => 'shared/menu') %>

		<!-- featured products  —————————————————————— -->
		<%= render(:partial => 'shared/featuredProducts') %>
	</div><!-- end of div 'left_column' -->

	<div id="center_column">
		<!-- menu popups: top level categories ——————————————————————————————————— -->
		<%= render(:partial => "/shared/menu_popups") %>
		
		<p class="notice"><%= notice %></p> <!-- needed by devise -->
		<p class="alert"><%= alert %></p> <!-- needed by devise -->
		<h2>Clinic<span style="color:orange;font-weight:normal;font-style:italic;">(*)</span> Administration</h3>
		</hr>
		
		<div id="clinic_content">
				<!-- this implementation of tabs is based on jquery-ui -->
				<div id="tabs" style="overflow:hidden;">	<!-- fixes a jQuery-ui problem when tabs is in right column with something in column to its left ( in this case the menu) -->
				<ul>
					
					<li><a href="#tabs-1" class="tabText">Clinicians</a></li>
					<li><a href="#tabs-2" class="tabText">Clinic</a></li>
					<li><a href="#tabs-3" class="tabText">Shipping</a></li>
					<li><a href="#tabs-4" class="tabText">Billing</a></li>
					<!-- <li><a href="#tabs-5">Purchase Limits</a></li> -->
				</ul>
				
				
				
				
				<!-- Clinicians ————————————————————————— -->
				<div id="tabs-1">
					<h3>Clinicians associated with this Clinic</h3>
					<div id="clinicians_table">
						<table cellspacing="10">
							<th>First Name</th>
							<th>Last Name</th>
							<th align="left">Email</th>
							<!-- <th>Password</th> -->
							<th class="actions" align="left">Action</th>

							<% @clinic.clinicians.each do | clinician | %>
								<tr>
									<td><%= clinician.first_name %></td>
									<td><%= clinician.last_name %></td>
									<td><%= clinician.email %></td>
									<!-- <td><#= clinician.password %></td> -->
									<td class="actions"><%= link_to("Edit", edit_clinician_path(clinician.id),:class=>"mylinks") %>&nbsp;|&nbsp;<%= link_to("Delete", clinician, :confirm => "Are you sure?",:method => "delete",:class=>"mylinks") %></td>	
								</tr>
							<% end %>
						</table>
						
						<button class="newClinician"><%= link_to("New Clinician", new_clinician_path()) %></button>
					</div>

				</div>
				
				<!-- Basic Clinic Data  ————————————————————————— -->
				<div id="tabs-2">
						<h3>Basic Information on the Clinic ( Practice/Hospital/Facility/...) </h3>
						<% semantic_form_for @clinic do |f| %>
							<% f.inputs do %>
								<%= f.input :name, :input_html => {:size => '40'} %>
							<!--
								<#= f.input :id, :hint => "for testing" %>
								<#= f.input :tm_customer_id, :label => "Customer Id", :hint => "for testing" %>
								<#= f.input :netsuite_customer_id, :label => "Netsuite Customer id", :hint => "for testing" %>
								type of clinic: oneof Clinic, Hospital Unit, Managed Care Facility, Chiropractic Practice, Physician, ...  
								owner: name, [contact info]
								Tru-Medical account rep: name, [phone], [email] 
							-->
								<%= f.input :address, :input_html => {:size => '40'} %>
								<%= f.input :address2, :input_html => {:size => '40'} %>
								<%= f.input :city, :input_html => {:size => '40'} %>
								<%= f.input :state, :input_html => {:size => '5'} %>
								<%= f.input :zip, :input_html => {:size => '15'} %>
								<%= f.input :office_phone, :label => "Main Office Phone", :input_html => {:size => '15'} %>
								<%= f.input :fax, :label => "Fax", :input_html => {:size => '15'} %>
								<%= f.input :primary_contact, :label => "Administrator", :input_html => {:size => '40'} %>
								<%= f.input :phone, :label => "phone", :input_html => {:size => '15'} %>
								<%= f.input :extension, :label => "extension (if any)", :input_html => {:size => '5'} %>
								<%= f.input :email, :label => "email", :input_html => {:size => "40"} %>
								
								<!-- 
								<#= f.input :alternate_contact %>
								-->								
							<% end %>
							<p>&nbsp;</p>
							<%= f.buttons %>
						<% end %>
						
						<div>
							<span class="size">Purchase History Information:</span>
								<button class="newClinician"><a target="_blank" href="#" style="color:white;">Click Here</a></button>
						</div>
					 
						<div id="disclaimer">
							<p>(*) Please note that we are using the term 'clinic' in a generic sense.  As used here it refers to</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; clinics, practices, managed health care facilities, hospital units, sports medicine facilities, gyms/spas, ... </p> 
						</div>
				</div> <!-- end of div tabs-2 -->
				
				<!-- Shipping  ———————————————————— -->
				<div id="tabs-3">
					<h3>Ship-To Address</h3>
					<% semantic_form_for @clinic do |f| %>
						<% f.inputs do %>
							<%= f.input :name, :input_html => {:size => '40'} %>
							<%= f.input :address, :input_html => {:size => '40'} %>
							<%= f.input :city, :input_html => {:size => '40'} %>
							<%= f.input :state, :input_html => {:size => '5'} %>
							<%= f.input :zip, :input_html => {:size => '15'} %>	
						<% end %>
						<p>&nbsp;</p>
						<%= f.buttons %>
					<% end %>
					<h3>Default Shipping Method</h3>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;UPS ground</p>
				</div>

				<!-- Billing——————————————————————————— -->
				<div id="tabs-4">
					<h3>Bill-To Address</h3>
					<% semantic_form_for @clinic do |f| %>
						<% f.inputs do %>
							<%= f.input :name, :input_html => {:size => '40'} %>
							<%= f.input :address, :input_html => {:size => '40'} %>
							<%= f.input :city, :input_html => {:size => '40'} %>
							<%= f.input :state, :input_html => {:size => '5'} %>
							<%= f.input :zip, :input_html => {:size => '15'} %>
							<!-- Billing contact: name -->
							<%= f.input :phone, :label=>"billing contact phone", :input_html => {:size => '15'} %>
							<%= f.input :extension, :label => "extension (if any)", :input_html => {:size => '5'} %>			
						<% end %>
						<p>&nbsp;</p>
						<%= f.buttons %>
					<% end %>
					<h3>Default Billing Method</h3>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;Invoice Net-30</p>
				</div>
				
				<!-- Purchase Authorization ————————————————————————— -->
				<!--
				<div id="tabs-5">
					<h3>Purchase Limits</h3>
					<table cellspacing="10">
						<tr>
							<td>Orders from Clinicians over this amount require authorization:</td>
							<td>$1,000</td>
						</tr>
						<tr>
							<td>Notify if aggregate orders within a month from a single Clinician exceed:</td>
							<td>$3,000</td>
						</tr>
						<tr>
							<td>Orders from Clinic Administrators over this amount require authorization:</td>
							<td>$5,000</td>
						</tr>
						<tr>
							<td>Route authorization requests to:</td>
							<td>[CFO of Clinic Group]</td>
						</tr>
					</table>				
				</div>
				-->
				
			</div><!-- end of div#tabs -->
				
		</div><!-- end of div#clinic_content -->


	</div> <!-- end div#center_column -->

<% end %> <!-- end :content_for middleBand -->