<!-- ————————————————————————————————————————————————————
	Clinics#edit — for R2 system that includes (i) Rails-based support for Clinic Administrators
	 and authorization limits on purchases by clinicians (and clinic administrators) 
	________________________________________________________
	
	BUGS:
		1. f.buttons to update clinic data goes to Clinic controller action
			that tried to redirect to Clinic#View — a template that does not exist.
			Either create that template, or override the redirect in the controller.
		2. content for individual panes not showing up: jquery tools problem? in css file, the tabs are initially set to display:none; presumably contents show up on clicking a tab, and there if some initialization option that lets you say which tab to display when first put tab set up. 
	-->
<!-- header includes  ——————————————————————————————————————————————————  -->
<%= content_for(:header) do %>
	<style type="text/css">
		
		div#center_column { }
	  div#clinic_content h2 { 
			background-color: orange;
			color:white;
			padding: 5px 10px 10px 10px;
			width: 155px;
		}
	hr { 
			width:94%;
			float:left;
			margin-top:-11px;
			padding-top:0px;
		}
		div#clinic_content hr {margin-bottom:30px;}
		div#clinic_content h3 {margin-top:20px;}
		div#clinic_content form { margin-bottom:20px; } 
		div#clinic_content a { color:orange; }
		div#clinic_content input {margin-bottom:0px; width:150px;}
		div#clinic_content label {text-align:right; padding:0px 10px 8px 0px; width: 165px; }
		div#clinic_content p.inline-hints { font-style:italic; color:red; padding-left:10px;padding-top:0px; font-size:10px; margin-top:0px;}
		div#clinic_content input#clinic_submit { margin-left:10px; width: 90px;}
		div#clinic_content input#clinician_submit { margin-left:10px; width:110px;}
		div#clinicians_table { margin-left:20px; }
		div#clinicians_table table th.actions, div#clinicians_table td.actions { color:blue; padding-left:20px;}
		fieldset.buttons {margin-left:-36px!important;} /* overrides formtastic 25%. */
		fieldset.buttons ol {margin-left:0px; padding-left:0px;}
		fieldset.buttons ol li {margin-left:0px; padding-left:0px;}
		input#clinic_submit { margin-left:0px; padding-left: 0px; color:orange;}
		form.button_to { max-width:40px; display: inline-block; }
	</style>

	<script type ="text/javascript">
		$(document).ready(function(){
			/* set up tab panes */
			/* $("ul.css-tabs").tabs("div.css-panes > div"); */
			$("#tabs").tabs();
			/* links within tab that sets up new clinicians for this clinic */
			$("a.mylinks").hover(function(){
				$(this).css("color","blue");
			});

		});

	</script>

<% end %>

<!-- body includes  ————————————————————————————————————————————————————  -->

<%= content_for(:middleBand) do %>
	<div id="left_column" >

		<!-- menu —————————————————————————————————————————— -->
		<%= render(:partial => 'shared/menu') %>

		<!-- featured products  —————————————————————— -->
		<%= render(:partial => 'shared/featuredProducts') %>
	</div><!-- end of div 'left_column' -->

	<div id="center_column">
		<!-- menu popups: top level categories ——————————————————————————————————— -->
		<%= render(:partial => "/shared/menu_popups") %>
		
		<p class="notice"><%= notice %></p> <!-- needed by devise -->
		<p class="alert"><%= alert %></p> <!-- needed by devise -->
		<h2>Clinic Administration</h3>
		</hr>
		
		<div id="clinic_content">
				<!-- this implementation of tabs is based on jquery-ui -->
				<div id="tabs" style="overflow:hidden;">	
				<ul>					
					<li><a href="#tabs-1">Basic Clinic Data</a></li>
					<li><a href="#tabs-2">Shipping</a></li>
					<li><a href="#tabs-3">Billing</a></li>
					<li><a href="#tabs-4">Clinicians</a></li>
					<li><a href="#tabs-5">Purchase Authorization</a></li>
				</ul>
				
				<!-- Basic Clinic Data  ————————————————————————— -->
				<div id="tabs-1">
						<h3>Basic Information on the Clinic ( Practice/Hospital/Facility/...) itself</h3>
						
						<p>[ editable form goes here ]</p>
						
						<span class="size">Purchase History Information: </span><a target="_blank" href="#">Click Here</a> 
				
				</div> <!-- end of div tabs-1 -->

				<!-- Shipping  ———————————————————— -->
				<div id="tabs-2">
					<h3>Ship-To Address</h3>
					<p>[ editable form goes here ]</p>
					<h4>Default Shipping Method: [UPS Ground]</h4>
				</div>

				<!-- Billing——————————————————————————— -->
				<div id="tabs-3">
					<h3>Bill-To Address</h3>
					<p>[ editable form goes here ]</p>
					<h4>Default Billing Method: Invoice, Net-30</h4>
				</div>
			
				<!-- Clinicians ————————————————————————— -->
				<div id="tabs-4">
					<h3>Clinicians associated with this Clinic</h3>
					[ table of existing clinicians affiliated with this clinic goes here ]
				
				</div>
				
				<!-- Purchase Authorization ————————————————————————— -->
				<div id="tabs-5">
					<h3>Purchase Authorization Methods</h3>
					<table>
						<th></th>
						<th></th>
						<tr>
							<td>Orders from clinicians over this amount require authorization:</td>
							<td>$1,000</td>
						</tr>
						<tr>
							<td>Notify if aggregate orders within a month from a single clinician exceed:</td>
							<td>$3,000</td>
						</tr>
						<tr>
							<td>Orders from clinicians over this amount require authorization:</td>
							<td>$1,000</td>
						</tr>
						<tr>
							<td>Route authorization requests to:</td>
							<td>[Clinic Owner]</br>[Administrator of Clinic]</br>[CFO of Clinic Group]</td>
						</tr>
					</table>				
				</div>
				
			</div><!-- end of div#tabs -->
				
		</div><!-- end of div#clinic_content -->


	</div> <!-- end div#center_column -->

<% end %> <!-- end :content_for middleBand -->