
<!-- ————————————————————————————————————————————————————————————————
		Controller: product_types
		Action: show 
		
		Presupposes an instance variable @product_type that has been 
		set up by the controller/action. Also the leaf-level category of
		this product in the instance variable @category. 
		
		Shows the image and description associated
		with this product type.
		Then iterates through all of the specific models (= specific products) 
		the product_type is offered in.
		And all of the accessories associated with this product_type. 
		
		Problems:
			If include the line of code that renders the partial "/shared/menu_popups", line 177,
			it actually draws the popup menus showing the 2nd level categories within each of the 
			10 top level categories listed in the menu. The same shared partial works fine in 
			products/show, base_products/show, product_sets/show,  but not here in product_types/show.  
			Why? What's different here? Why don't all of these popups start as hidden? 
		
		Rev 2: 
		Has tab set that shows other info on the product_type.
		NOTE: No source for this information: expand the product_types schema 
		to include it, or define a separate file_type since use of separate product_types
		is going away with STI implementation of subtypes of Product. 
 
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Complex Products </title> 
	
	<!-- Reenable this once have the basic display of product fields working  									
	<%# javascript_include_tag "galleria-1.2.4.min.js" %>
	<%# javascript_include_tag "zoom_and_mega_zoom.js" %>
	-->
	<!--<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script> -->
	<!-- <script src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"></script> -->

	<!-- <%= stylesheet_link_tag("jquery_tools_tabs_no_images.css") %> -->

	
	<script type="text/javascript" >
		
		$(document).ready(function() {	
		//	$("#body-background").ezBgResize();
			$("#body-background").css("background-color","#E6E6E6");				
		//	checkSize();
			$("#addToCart").click(function(){
				addtocart();
				return false;
			});
		});
		
		function addtocart()
				{
					alert("Adding items to cart. Click OK to continue.")
					var accountid = "1114349"; //Netsuite account id

					$("input[id*=qty_]").each(function()
					{
						if($(this).val()!="")
						{
							if(parseInt($(this).val())>0)
							{
								var itemid = $(this).attr('id').replace('qty_','');
								var itemprice = $("#price_"+itemid).html().replace('$','');

								var itemqty = $(this).val();
								//add to cart url
								var myurl = 'http://shopping.netsuite.com/app/site/backend/additemtocart.nl?&c='+accountid+'&qty='+itemqty+'&buyid='+itemid+'&amount='+itemprice;		     
							    //create hidden iframe in body
							    $('body').append('<iframe id="addtocartframe'+itemid+'" style="display:none" />'); 
							    //change src to iframe
							    $('#addtocartframe'+itemid).attr('src', myurl);
							}
						}
					});
					$("input[id*=qty_]").each(function()
					{
						$(this).val('');
					});

					return false;
				}

	</script>

	<style type="text/css">
		
		/* div#product_goodies {max-height:625px; overflow-y:auto; padding-right:20px; margin-top:5px;} */
		div#product_image_description { margin-top:20px; padding-left:40px;}

		div#product_image_description img { margin-bottom:15px; }
		/*
		div#product_image_description ul { margin-left:20px; }
		*/
		div#shipping_etc_icons img { display: block-inline; }
		div#products { margin-top:10px; padding-left:40px;}
		div#title { color:orange; font-size:14px; font-weight:bold;}
		#products table { margin-bottom:30px; }
		#products table td.description { 
			background-image: url("../images/utility/dot.gif");
			background-repeat: repeat-x;
			background-position:0% 70%; 
			}	
		.for_text{background-color:white; z-index:99; display:inline;padding-right:8px;}
		div#products table td.price { text-align:right;}
		
		div#accessories { padding-left: 40px;}
		div#accessories table td.price { text-align:right;}
		/*
		div#accessories table td.price:before {
		    clip: rect(0px, 190px, 20px, 0px);
		    content: " ............................................................ ";
		    position: absolute;
		    z-index: -1;
			}
		*/
		#addToCart, #checkOut {
			background-color:orange; 
			color:white; 
			font-size:12px; 
			padding-top:6px; padding-bottom:6px; 
			border:none;
			}
			h2 { color:orange; font-size:14px; font-weight:bold; }
			
		/* for content of 'ancillary info' partial: testimonials go in panels 3 and 4 */
	
		div#ancillary_info {margin:30px 40px 30px 40px;}
		/* for jquery-ui panels, i.e., ones with embedded divs 
		div#ancillary_info div.testimonial { overflow:auto; width:100%; padding-bottom:20px; }
		div#ancillary_info div.testimonial p.quotation {font-style:italic;}
		div#ancillary_info div.testimonial img { float:left; margin-right:20px;}
		*/
		/* for jquery tools panels, i.e., one without embedded divs */
		div#ancillary_info img.testimonial {float:left; margin-right:20px;}
		div#ancillary_info p.quotation {font-style:italic;}
		div.css-panes > div { overflow:auto; width:100%; padding-bottom:20px; }
		

	</style>



<% end %>


<%= content_for(:middleBand) do %>

    
		<div id="left_column">

			<!-- menu —————————————————————————————————————————— -->
			<%= render(:partial => 'shared/menu') %>

			<!-- featured products  —————————————————————— -->
			<%= render(:partial => 'shared/featuredProducts') %>

		</div><!-- end of div 'left_column' -->
		

		
		<div id="center_column">
				
				<!-- breadcrumb trail ————————————————————————————————————————— -->
				<%= render(:partial => "/shared/breadcrumb") %>
				
				<!-- logo_container ————————————————————————————————————————— -->
				<div id="logo">
					<% logomark = image_tag("logos/logo_on_white_315.jpg") %>
					<%= link_to(logomark,root_path()) %>
				</div> 
			
				<!-- error messages  ———————————————————————————————————————————————————— -->
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>
			
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				
				<%= render(:partial => "/shared/menu_popups") %>
		
	      <!-- product type ———————————————————————————————————————————————————————————— -->
				<div id="product_goodies">
				<div id="product_image_description">
					
					<%= image_tag("/images/products/all_large/" + @product_type.image_filename + ".jpg") %>
					<div id="title">
						<%= raw(@product_type.name) %>
					</div>
					
					<div id="description" style="padding-right:40px; padding-left:0px;">
						<%= raw(@product_type.long_description) %> <!-- defined in Products table? now that we're using STI -->
					</div>
					
					<div id="shipping_etc_icons">
							<%= if @product_type.method_of_shipment == 'LTL' then image_tag("utility/truck_46x24.gif",:class => "withToolTip", :title => "shipped by truck") end %>
							<%= if @product_type.assembly_p == 1 then image_tag("utility/wrench_24x24.gif",:class=>"withToolTip",:title => "some assembly required") end %>
							<%= if @product_type.latex_p == 1 then image_tag("utility/latex_free_49x49.gif") end %>
					</div>

					
				</div> 

				<!-- base product offered in:   ——————————————————————————— -->
				
				<div id="products">
		
					<table cellspacing="10">
						<col/>
						<col align="left" width="390px"/> <!-- widened from 300 to fit it all on one line -->
						<col align="right" width="70px"/>
						<col align="left"/>
						<th align="left">Part No</th>
						<th align="left">Model</th>
						<th align="right">Price</th>
						<th align="left">Qty</th>
						
					<% @product_type.products.each do |p| %>
						<tr>
							<td><%= p.tms_part_no %></td>
							<td class="description">
								<div class="for_text"><%= p.web_description %></div> <!-- need raw(..)? -->
							</td>
							<td class="price" id="price_<%= p.netsuite_item_no %>">
								<%= if current_user 
							  	case current_user.price_schedule
										when "tru-blue"
											number_to_currency(p.price_tru_blue)
										when "corporate-2"
											number_to_currency(p.price_corporate_2)
										when "corporate-3"
											number_to_currency(p.price_corporate_3)
										when "dealer-1"
											number_to_currency(p.price_dealer_1)
										when "dealer-2"
											number_to_currency(p.price_dealer_2)
										when "dealer-3"
											number_to_currency(p.price_dealer_3)
										else 
											number_to_currency(p.price_clinic_list)
									end
								
								else
									number_to_currency(p.price_clinic_list);
								end %>
							</td>
							<td style="padding-top:0px;"><input class="ui-corner-all" id="qty_<%= p.netsuite_item_no %>" style="width:30px;" type="text"></td>
						</tr>
					<% end %>	

					</table>
				
				</div> <!-- end div#products -->
				
				<!-- if product type that has accessories ————————————————— -->
				<% unless @product_type.accessories.empty?  %> 
					<%= render(:partial => "accessories") %> 
				<% end %>
				<!-- add-to-cart / checkout buttons (after accessories)  ————————————————— -->
				
				<table cellspacing="10" style="padding-left:40px;">
					<col/>
					<col align="left" width="390px"/> <!-- to match first table  -->
					<col align="right" width="70px" /> <!-- line this up with Qty column in tables above -->
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><button id="addToCart" class="ui-corner-all" style="margin-left:40px;">ADD TO CART</button></td>

					</tr>
				
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button id="checkOut" class="ui-corner-all">
								<a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=4&n=1" style="color:white; text-decoration:none">CHECK OUT</a>
							</button>
						</td>

					</tr>
				</table>

				<!-- Ancillary Product Information ———————————————————————— -->
				
				<!-- DEBUG: tabs built with jquery tools 'tab' give me simpler styling
					control that those from jquery-ui.  However only rendering the content of tab-1 correctly; tab-2 gets only the header line; tab-3 and tab-4 are empty. 
					rendering this partial is triggering an error; nil for product_type id or product_line id --> 
				<!-- <%# render(:partial => "tabs") %> -->
	
			</div> <!-- end div#product_goodies -->

			</div> <!-- end div#center_column -->


<% end %>
	