
<!-- ————————————————————————————————————————————————————————————————
		Controller: product_types
		Action: show 
		
		Presupposes an instance variable @product_type that has been 
		set up by the controller/action. Also the leaf-level category of
		this product in the instance variable @category. 
		
		Shows the image and description associated
		with this base product. 
		Then iterates through all of the specific models (= specific products) 
		the base product is offered in.
		Has tab set that show other info on the product_type.
		NOTE: No source for this information: expand the product_types schema 
		to include it.  
 
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Complex Products </title> 
	
	<!-- Reenable this once have the basic display of product fields working  									
	<%# javascript_include_tag "galleria-1.2.4.min.js" %>
	<%# javascript_include_tag "zoom_and_mega_zoom.js" %>
	-->
	<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
	<!-- <script src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"></script> -->

	<%= stylesheet_link_tag("jquery_tools_tabs_no_images.css") %>

	
	<script type="text/javascript" >

		$(document).ready(function() {
			$(".css-tabs:first").tabs(".css-panes:first > div"); /* What does ':first' do?  */
			$("#body-background").ezBgResize();
			$("#body-background").css("background-color","#E6E6E6");				
			checkSize();
			$("#addToCart").click(function(){
				addtocart();
				return false;
			});				
		});
		function addtocart()
		{
			alert("Adding items to cart. Click OK to continue.")

			var multi = '';
			$("input[id*=qty_]").each(function()
			{
				if($(this).val()!="")
				{
					if(parseInt($(this).val())>0)
					{
						var itemid = $(this).attr('id').replace('qty_','');
						var itemqty = $(this).val();
						multi+=itemid+','+itemqty+';';
					}
				}
			});
			$("input[id*=qty_]").each(function()
			{
				$(this).val('');
			});

			var accountid = "1114349"; //Netsuite account id
		    //add to cart url
			var myurl = 'http://shopping.netsuite.com/app/site/backend/additemtocart.nl?multi='+multi+'&c='+accountid+'&qtyadd=1&buyid=multi';		     
		    //create hidden iframe in body
		    $('body').append('<iframe id="addtocartframe" style="display:none" />'); 
		    //change src to iframe
		    $('#addtocartframe').attr('src', myurl);
		    return false;
		}
	</script>

	<style type="text/css">
		div#product_image_description { margin-top:20px; padding-left:40px;}
		/* 
		div#product_image_description img { float:left; margin-right:30px; }
		div#product_image_description ul { margin-left:20px; }
		*/
		div#products { margin-top:10px; padding-left:40px;}
		div#title { color:orange; font-size:14px; font-weight:bold;}
		#products table { margin-bottom:30px; }
		/* How does this work? 
		#products td.price:before {
		    clip: rect(0px, 190px, 20px, 0px);
		    content: " ............................................................ ";
		    position: absolute;
		    z-index: -1;
			}
			*/
		
		div#products table td.price { text-align:right;}
		div#accessories { padding-left: 40px;}
		div#accessories table td.price { text-align:right;}
		div#accessories table td.price:before {
		    clip: rect(0px, 190px, 20px, 0px);
		    content: " ............................................................ ";
		    position: absolute;
		    z-index: -1;
			}
		#addToCart, #checkOut {
			background-color:orange; 
			color:white; 
			font-size:12px; 
			padding-top:6px; padding-bottom:6px; 
			border:none;
			}
			h2 { color:orange; font-size:14px; font-weight:bold}
			
		/* for content of 'ancillary info' partial: testimonials go in panels 3 and 4 */
	
		div#ancillary_info {margin:30px 40px 30px 40px;}
		/* for jquery-ui panels, i.e., ones with embedded divs */
		div#ancillary_info div.testimonial { overflow:auto; width:100%; padding-bottom:20px; }
		div#ancillary_info div.testimonial p.quotation {font-style:italic;}
		div#ancillary_info div.testimonial img { float:left; margin-right:20px;}
		/* for jquery tools panels, i.e., one without embeded divs */
		div#ancillary_info img.testimonial {float:left; margin-right:20px;}
		div#ancillary_info p.quotation {font-style:italic;}
		div.css-panes > div { overflow:auto; width:100%; padding-bottom:20px; }
		

	</style>



<% end %>


<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
    
	<!-- container —————————————————————————————————————————————————————————————————— -->

	<div id="container">
		<div id="black_screen"></div> <!-- won't cause problems until enable left nav-->

	  <!-- subcontainer —————————————————————————————————————————————————————— -->

		<div id="subcontainer">
		
			<!-- menu —————————————————————————————————————————————————————  -->
		
			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content ————————————————————————————————————————————————————— -->

			<div id="main_content">
				
				<!-- breadcrumb trail ——————————————————————————————————————————————— -->
				<%= render :partial => "/shared/breadcrumb" %>
				<!-- Too wide to fit on breadcrumb line <%# raw(@product_type.name) %> -->
			
				<!-- error messages  ———————————————————————————————————————————————————— -->
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>

	      <!-- product type ———————————————————————————————————————————————————————————— -->

				<div id="product_image_description">
					
					<%= image_tag("/images/products/modalities_large/" + @product_type.image_filename + ".jpg") %>
					<div id="title">
						<%= raw(@product_type.name) %>
					</div>
					
					<div id="description" style="padding-right:40px; padding-left:0px;">
						<%= raw(@product_type.description) %> <!-- defined in schema for product_types? -->
					</div>
					
				</div> 

				<!-- base product offered in:   ——————————————————————————— -->
				
				<div id="products">
		
					<table cellspacing="10">
						<col/>
						<col align="left" width="390px"/> <!-- widened from 300 to fit it all on one line -->
						<col align="right" width="70px"/>
						<col align="left"/>
						<th align="left">Part No</th>
						<th align="left">Model</th>
						<th align="right">Price</th>
						<th align="left">Qty</th>
						
					<% @product_type.products.each do |p| %>
						<tr>
							<td><%= p.tms_part_no %></td>
							<td><%= p.description %></td>
							<td class="price"><%= number_to_currency(p.price_clinic_list) %></td>
							<td style="padding-top:0px;"><input class="ui-corner-all" id="qty_<%= p.netsuite_item_no %>" style="width:30px;" type="text"></td>
						</tr>
					<% end %>	

					</table>
				
				</div> <!-- end div#products -->
				
				<!-- if product type that has accessories ————————————————— -->
				<!-- %= if @part_type.accessories.size > 0  %> -->
					<%= render(:partial => "accessories") %> 

				<!-- add-to-cart / checkout buttons (after accessories)  ————————————————— -->
				
				<table cellspacing="10" style="padding-left:40px;">
					<col/>
					<col align="left" width="390px"/> <!-- to match first table  -->
					<col align="right" width="70px" /> <!-- line this up with Qty column in tables above -->
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><button id="addToCart" class="ui-corner-all" style="margin-left:40px;">ADD TO CART</button></td>

					</tr>
				
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button id="checkOut" class="ui-corner-all">
								<a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=4&n=1" style="color:white; text-decoration:none">CHECK OUT</a>
							</button>
						</td>

					</tr>
				</table>

				<!-- Ancillary Product Information ———————————————————————— -->
				
				<!-- DEBUG: tabs built with jquery tools 'tab' give me simpler styling
					control that those from jquery-ui.  However only rendering the content of tab-1 correctly; tab-2 gets only the header line; tab-3 and tab-4 are empty. --> 
				<%= render(:partial => "tabs") %>
	


			</div> <!-- end div#main_content -->

		</div><!-- end div#subcontainer -->


		<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->

		<div id="right_content_container">		
	    <%= render(:partial => 'shared/rightContent') %>		
		</div>

	</div><!-- end div#container -->


	<!-- logo_container ——————————————————————————————————————————————————————————————— -->

	<div id="logo_container">
		<a href="" id="logo" title="home page" name="logo">home page</a>
	</div>

<% end %>
	