<!-- header includes  ——————————————————————————————————————————————————  -->

<%= content_for(:header) do %>
	<style type="text/css">
		div#devise_generated_content form { margin-bottom:20px; } 
		div#devise_generated_content a { color:orange; }
			div#devise_generated_content input {margin-bottom:10px;}
	</style>
<% end %>


<!-- body includes  ————————————————————————————————————————————————————  -->
<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
	<div id="container">
		<div id="subcontainer">

			<!-- menu —————————————————————————————————————————————————————  -->

			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				<%= render(:partial => "/shared/menu_popups") %>
				
				<p class="notice"><%= notice %></p> <!-- needed by devise -->
				<p class="alert"><%= alert %></p> <!-- needed by devise -->
				<div id="devise_generated_content">

					<h2>Resend confirmation instructions</h2>

					<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <div><%= f.label :email %><br />
					  <%= f.email_field :email %></div>

					  <div><%= f.submit "Resend confirmation instructions" %></div>
					<% end %>

					<%= render :partial => "devise/shared/links" %>

				</div> <!-- end div#devise_generated_content -->

			</div> <!-- end div#main_content -->
		</div> <!-- end div#subcontainer -->
	</div> <!-- end div#container -->
<% end %>