<!-- header includes  ——————————————————————————————————————————————————  -->

<%= content_for(:header) do %>
	<style type="text/css">
		div#devise_generated_content form { margin-bottom:20px; } 
		div#devise_generated_content a { color:orange; }
		div#devise_generated_content input {margin-bottom:10px;}
		div#center_column { /* override default layout */
			padding-left:40px; 
			padding-top:0px;
			}
		div#center_column div#devise_generated_content h2 { 
			background-color: orange;
			color:white;
			padding: 5px 10px 10px 10px;
			width: 155px;
		}
		div#center_column div#devise_generated_content hr { 
			width:94%;
			float:left;
			margin-top:-11px;
			padding-top:0px;
		}
	</style>
<% end %>


<!-- body includes  ————————————————————————————————————————————————————  -->

		<%= content_for(:middleBand) do %>
			<div id="left_column" >

				<!-- menu —————————————————————————————————————————— -->
				<%= render(:partial => 'shared/menu') %>

				<!-- featured products  —————————————————————— -->
				<%= render(:partial => 'shared/featuredProducts') %>
			</div><!-- end of div 'left_column' -->

			<div id="center_column">
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				<%= render(:partial => "/shared/menu_popups") %>
				
				<p class="notice"><%= notice %></p> <!-- needed by devise -->
				<p class="alert"><%= alert %></p> <!-- needed by devise -->
				<div id="devise_generated_content">

					<h2>Edit <%= resource_name.to_s.humanize %></h2>
					<hr></hr></br>

					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
					
					  <%= devise_error_messages! %>
					
					  <div><%= f.label :first_name %><br />
					  <%= f.text_field :first_name %></div>
					
						<div><%= f.label :last_name %><br />
					  <%= f.text_field :last_name %></div>

					  <div><%= f.label :email %><br />
					  <%= f.email_field :email %></div>

					  <div><%= f.label :password %> <i>(Leave blank if you don't want to change it.)</i><br />
					  <%= f.password_field :password %></div>

					  <div><%= f.label :password_confirmation %><br />
					  <%= f.password_field :password_confirmation %></div>

					  <div><%= f.label :current_password %> <i><span style="color:orange;">(We need your current password to confirm your changes.)</span></i><br />
					  <%= f.password_field :current_password %></div>
					
						<div><%= f.label "Are you a clinician? " %><br />
					  <%= f.check_box :clinician %></div>
					
						<div><%= f.label "Clinic name" %><br />
					  <%= f.text_field :clinic_name %></div>

						<div><%= f.label "Clinic id (for testing)" %><br />
					  <%= f.text_field :clinic_id %></div>					
					
						<div><%= f.label "Work phone" %><br />
					  <%= f.telephone_field :phone %></div>
					
					  <div><%= f.label "Extension (if any)" %><br />
					  <%= f.text_field :extension %></div>
					
					
						<div><%= f.label "Price Schedule ( for testing )" %><br />
					  <%= f.text_field :price_schedule %></div>

					  <div><%= f.submit "Update" %></div>
						<i><span style="color:orange;">(Remember: You need to enter your current password above to confirm your changes.)</span></i>

					<% end %>

					<h3>Cancel my account</h3>
					<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
					<%= link_to "Back", :back %>
					
				</div> <!-- end div#devise_generated_content -->
			</div> <!-- end div#center_column -->

<% end %>
