
<!-- ————————————————————————————————————————————————————————————————
		Controller: product_sets
		Action: show 
		
		Presupposes an instance variable @product_set that has been 
		set up by the controller/action. Also the leaf-level category of
		this product in the instance variable @category. 
		
		Shows the image and description associated
		with this product set. Then for each base-product within this product-set, it prints the single-line of text that identifies this base-product (i.e. for 720001-xxx, the string "50 Yard Dispenser Box" rather than the "6 Yard Dispenser Box" for 720002-xxx), and then iterates through all of the specific products in the subset of products within this product-set that are variants of the base-product ( ie, for 720001:  720001-010, 720001-015, ... ) 
		Put a single add-to-cart and checkout button below the last block of products associated with the last base-product.  
	 
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Products </title> 
	
	<!-- Reenable this once have the basic display of product fields working  									
	<%# javascript_include_tag "galleria-1.2.4.min.js" %>
	<%# javascript_include_tag "zoom_and_mega_zoom.js" %>
	-->

	<script type="text/javascript" >

		$(document).ready(function() {	
			$("#body-background").ezBgResize();
			$("#body-background").css("background-color","#E6E6E6");				
			checkSize();
			$("#addToCart").click(function(){
				addtocart();
				return false;
			});
		});
		function addtocart()
		{
			alert("Adding items to cart. Click OK to continue.")

			var multi = '';
			$("input[id*=qty_]").each(function()
			{
				if($(this).val()!="")
				{
					if(parseInt($(this).val())>0)
					{
						var itemid = $(this).attr('id').replace('qty_','');
						var itemqty = $(this).val();
						multi+=itemid+','+itemqty+';';
					}
				}
			});
			$("input[id*=qty_]").each(function()
			{
				$(this).val('');
			});

			var accountid = "1114349"; //Netsuite account id
		    //add to cart url
			var myurl = 'http://shopping.netsuite.com/app/site/backend/additemtocart.nl?multi='+multi+'&c='+accountid+'&qtyadd=1&buyid=multi';		     
		    //create hidden iframe in body
		    $('body').append('<iframe id="addtocartframe" style="display:none" />'); 
		    //change src to iframe
		    $('#addtocartframe').attr('src', myurl);
		    return false;
		}
	</script>
	
	<style type="text/css">
		div#product_image_description { margin-top:20px; padding-left:40px;}
		div#product_image_description img { margin-bottom:15px;}
		div#products { margin-top:10px; padding-left:40px;}
		td.differentiator { font-size:12px; font-weight:normal; color: blue; }
		div#title { color:orange; font-size:14px; font-weight:bold; }
		#products table { margin-bottom:30px; }
		/* How does this work? *
		#products td.price:before {
		    clip: rect(0px, 190px, 20px, 0px);
		    content: " ............................................................ ";
		    position: absolute;
		    z-index: -1;
			}
			*/
		
		#products td.price {text-align: right;}
		#addToCart, #checkOut {
			background-color:orange; 
			color:white; 
			font-size:12px; 
			padding-top:6px; padding-bottom:6px; 
			border:none;
			}

	</style>



<% end %>


<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
    
	<!-- container —————————————————————————————————————————————————————————————————— -->

	<div id="container">
		<div id="black_screen"></div> 

	  <!-- subcontainer —————————————————————————————————————————————————————— -->

		<div id="subcontainer">
		
			<!-- menu ———————————————————————————————————————————————————————  -->
		
			<%= render(:partial => '/shared/menu') %>
			<%= render(:partial => '/shared/search') %>

	    <!-- main content ——————————————————————————————————————————————— -->

			<div id="main_content">
				
				<!-- breadcrumb trail ————————————————————————————————————————— -->
				<%= render(:partial => "/shared/breadcrumb") %>
			
				<!-- error messages ——————————————————————————————————————————— -->
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>
				
				<!-- menu popups: top level categories ———————————————————————— -->
				<%= render(:partial => "/shared/menu_popups") %>

	      <!-- product set —————————————————————————————————————————————— -->

				<div id="product_image_description">
					<!-- change to large picture --> 
					<%= image_tag("/images/products/all_large/" + @product_set.image_filename[0,6] +"-000" + ".jpg") %>
					<!--
					<%# image_tag("/images/products/all_medium/" + @base_product.image_filename[0,6] + "-000" + ".jpg") %>
					-->
					<div id="title">
						<%= raw(@product_set.name) %>
					</div>
					
					<div id="description">
						<%= raw(@product_set.long_description) %>
					</div>
					
				</div> 
				
				<div id="products">
					<table cellspacing="10">
						<col/>
						<col align="left" width="300px"/>
						<col align="right"/>
						<col align="left"/>
						<th align="left">Part No</th>
						<th align="left">Description</th>
						<th align="right">Price</th>
						<th align="left">Qty</th>
				
						<!-- for each base-product within this product-set -->
						<% @product_set.base_products.each do |bp| %>
				
							<tr>
								<td class="differentiator" colspan="2"><%= raw(bp.web_description) %></td>
							</tr>
								
							<% bp.simple_products.each do |p| %>
								<tr>
									<td><%= p.tms_part_no %></td>
									<td><%= p.web_description %></td>
									<td class="price">
											<%= if current_user 
										  	case current_user.price_schedule
													when "tru-blue"
														number_to_currency(p.price_tru_blue)
													when "corporate-2"
														number_to_currency(p.price_corporate_2)
													when "corporate-3"
														number_to_currency(p.price_corporate_3)
													when "dealer-1"
														number_to_currency(p.price_dealer_1)
													when "dealer-2"
														number_to_currency(p.price_dealer_2)
													when "dealer-3"
														number_to_currency(p.price_dealer_3)
													else 
														number_to_currency(p.price_clinic_list)
												end

											else
												number_to_currency(p.price_clinic_list);
											end %>
									</td>
									<td style="padding-top:0px;"><input class="ui-corner-all" id="qty_<%= p.netsuite_item_no %>" style="width:30px;" type="text"></td>
								</tr>
							<% end %>	
							
						<% end %>	
						
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><button id="addToCart" class="ui-corner-all">ADD TO CART</button></td>

						</tr>
						
						<tr>
							<td>
								<button id="checkOut" class="ui-corner-all">
									<a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=4&n=1" style="color:white; text-decoration:none">CHECK OUT</a>
								</button>
							</td>
							<td></td>
							<td></td>
						</tr>
			
					</table>
				
				</div> <!-- end div#products -->

			</div> <!-- end div#main_content -->

		</div><!-- end div#subcontainer -->


		<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->

		<div id="right_content_container">
	    <%= render(:partial => '/shared/rightContent') %>	       
		</div>


	</div><!-- end div#container -->


	<!-- logo_container ——————————————————————————————————————————————————————————————— -->

	<div id="logo_container">
		<a href="/en" id="logo" title="home page" name="logo">&nbsp;</a>
	</div>

<% end %>