
<!-- ————————————————————————————————————————————————————————————————
		Controller: Search
		Action: results 
		
		WARNING: This is old code that is not currently used; it uses content_for(:body). 
		The current layout/application.html.erb file does a yield(:middleBand)
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Search Results </title> 
	
	<script type="text/javascript" >

		$(document).ready(function() {	
				$("#body-background").ezBgResize();
				$("#body-background").css("background-color","#E6E6E6");				
				checkSize();
			
			});
		
	</script>

	<style type="text/css">
		div.left { float:left; }
		div.right { }

	</style>



<% end %>


<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
    
	<!-- container —————————————————————————————————————————————————————————————————— -->

	<div id="container">
		<div id="black_screen"></div> <!-- used here?  drop from category#display also? -->

	  <!-- subcontainer —————————————————————————————————————————————————————— -->

		<div id="subcontainer">
		
			<!-- menu —————————————————————————————————————————————————————  -->
		
			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>
				
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				
				<%= render(:partial => "/shared/menu_popups") %>
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>

	      <!-- results from Google CSE ———————————————————————————————————————————————————————————— -->
				
				<div id="cse" style="width: 100%;">Loading</div>
				<script src="http://www.google.com/jsapi" type="text/javascript"></script>
				<script type="text/javascript"> 
				  google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST});
				  google.setOnLoadCallback(function() {
				    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
				      '000064363312609554513:jmpucuppl78', customSearchOptions);
				    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
				    customSearchControl.draw('cse');
				    function parseParamsFromUrl() {
				      var params = {};
				      var parts = window.location.search.substr(1).split('&');
				      for (var i = 0; i < parts.length; i++) {
				        var keyValuePair = parts[i].split('=');
				        var key = decodeURIComponent(keyValuePair[0]);
				        params[key] = keyValuePair[1] ?
				            decodeURIComponent(keyValuePair[1].replace(/\+/g, ' ')) :
				            keyValuePair[1];
				      }
				      return params;
				    }

				    var urlParams = parseParamsFromUrl();
				    var queryParamName = "q";
				    if (urlParams[queryParamName]) {
				      customSearchControl.execute(urlParams[queryParamName], null,
				          {'oq': urlParams['oq'], 'aq': urlParams['aq'],
				           'aqi': urlParams['aqi'], 'aql': urlParams['aql'],
				           'gs_sm': urlParams['gs_sm'], 'gs_upl': urlParams['gs_upl']});
				    }
				  }, true);
				</script>
				

				
			

			</div> <!-- end div#main_content -->

		</div><!-- end div#subcontainer -->


		<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->

		<div id="right_content_container">
	    <%= render(:partial => 'shared/rightContent') %>	       
		</div>

		<div id="forScrollTop" class="clear"></div>  <!-- debug: purpose?? -->

	</div><!-- end div#container -->


	<!-- logo_container ——————————————————————————————————————————————————————————————— -->

	<div id="logo_container">
		<a href="/en" id="logo" title="home page" name="logo">home page</a>
	</div>

<% end %>

