<!-- ————————————————————————————————————————————————————
	Clinician#new 
	_______________________________________________________
	
	BUGS:
		1. Mystery:  This code (and Clinician#create) seem to be creating a new instance of the Clinician class. But in order for this clinician to log in, there has to be a corresponding instance in the User class that the devise-based registration/login system sees.  I can't see where that it being created ( is it? ). But the application seems to work: once the clinic administrator creates a new clinician, it is possible to log into the system as that clinician, using the password put in by the clinic administrator.  Why?  Because Clinician is defined as a subtype of User. And AR is using an STI implementation of inheritance, 
		so creating a clinician actually creates a tuple in the 'users' table. 
		This means we could drop the 'role' field in User and use the 'type' field instead. It also means we could
		easily support multiple administrators for a single clinic. 
		2. I'm not storing the (plain text) password for the clinician in the clinician record,
		so the clinic administrator cannot tell him what it is when he forgets. Would have to delete him and recreate him, but this would lose the history of his orders ( at least in R4, once we have moved the shopping cart to the front-end and are tracking orders submitted by individual clinicians.)  
		3. Formatting problem: the form submit button is too far to the right. Seems to be something to its left, since if set left-margin: -20px the left side of the button disappears. 
	
	-->
<!-- header includes  ——————————————————————————————————————————————————  -->
<%= content_for(:header) do %>
	<style type="text/css">
		div#clinician_content form { margin-bottom:20px; margin-top:40px; } 
		div#clinician_content a { color:orange; }

		div#clinician_content input {margin-bottom:0px; width:150px;}
		div#clinician_content label {text-align:right; padding:0px 10px 8px 0px; width: 165px; }
		div#clinician_content p.inline-hints { font-style:italic; color:red; padding-left:0px;padding-top:0px; font-size:10px; margin-top:0px;}
		div#clinician_content input#clinic_submit { margin-left:0px; width: 90px;}
		div#clinician_content input#clinician_submit { margin-left:0px; width:110px;}

		div#center_column { /* override default layout */
			}
		div#center_column div#clinician_content h2 { 
			background-color: orange;
			color:white;
			padding: 5px 10px 10px 10px;
			width: 155px;
		}
		div#center_column div#clinician_content hr { 
			width:94%;
			float:left;
			margin-top:-11px;
			padding-top:0px;
		}
	</style>
<% end %>

<!-- body includes  ————————————————————————————————————————————————————  -->

<%= content_for(:middleBand) do %>
	<div id="left_column" >

		<!-- menu —————————————————————————————————————————— -->
		<%= render(:partial => 'shared/menu') %>

		<!-- featured products  —————————————————————— -->
		<%= render(:partial => 'shared/featuredProducts') %>
	</div><!-- end of div 'left_column' -->

	<div id="center_column">
		<!-- menu popups: top level categories ——————————————————————————————————— -->
		<%= render(:partial => "/shared/menu_popups") %>
		
		<p class="notice"><%= notice %></p> <!-- needed by devise -->
		<p class="alert"><%= alert %></p> <!-- needed by devise -->
	
		<div id="clinician_content">
			<h2>New Clinician</h2>
			<hr/>

			<% semantic_form_for @clinician do |f| %>
				<% f.inputs do %>
					<%= f.input :first_name %>
					<%= f.input :last_name %>
					<%= f.input :email %>
					<%= f.input :password, :as => :password %>
					<%= f.input :password_confirmation, :as => :password %>
<<<<<<< HEAD
					<%= f.input :role, :hint => "for testing; prefill with 'clinician' in production" %>
					<%= f.input :clinic_id,:hint => "for testing; show clinic name in production" %>	
=======
					<%= f.input :role, :hint => "for Alpha release; prefill with 'clinician' in production" %>
					<%= f.input :clinic_id,:hint => "for Alpha release; show clinic name in production" %>	
>>>>>>> 680bbb487e8431b2c8a73c892e06a604623f97f9
					<%= f.input :clinic_id, :wrapper_html => { :style => "display:none;" } %> <!-- somehow this is presetting the value of the field to 344 (but showing the field). Always 344 or the whatever clinic id it should be?   --> 			
					<!--
					How give fields predefined value in formtastic?  
					Or better: make a field invisible, and set its value programmatically. 
					<#= f.input :clinic_name %>
					<#= f.input :clinic_id %>  current_user.clinic
					-->
					<%= f.input :phone %>
				<% end %>
			
				<%= f.buttons %>

			<% end %>
		</div>
	<!-- New clinician is not getting password properly encrypted and stored in database
		 Why? Well, the devise database works on Users not Clinicians.  
		 Have to make a User record out of this Clinician record and let devise 'register' 
		 that user. 
			<#= render :partial => "devise/shared/links" %>
		 But it seems to be working.  I CAN, as an administrator hit to New Clinician button, fill it in, and get a new User created that I can log in as.  How is it that this works? 
	-->		

	</div> <!-- end div#center_column -->

<% end %> <!-- end :content_for middleBand -->