<!-- header includes  ——————————————————————————————————————————————————  -->

<%= content_for(:header) do %>
	<style type="text/css">
		div#devise_generated_content form { margin-bottom:20px; } 
		div#devise_generated_content a { color:orange; }
	</style>
<% end %>


<!-- body includes  ————————————————————————————————————————————————————  -->
<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
	<div id="container">
		<div id="subcontainer">

			<!-- menu —————————————————————————————————————————————————————  -->

			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				<div id="devise_generated_content">

					<h2>Change your password</h2>

					<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
					  <%= devise_error_messages! %>
					  <%= f.hidden_field :reset_password_token %>

					  <div><%= f.label :password, "New password" %><br />
					  <%= f.password_field :password %></div>

					  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
					  <%= f.password_field :password_confirmation %></div>

					  <div><%= f.submit "Change my password" %></div>
					<% end %>

					<%= render :partial => "devise/shared/links" %>

				</div> <!-- end div#devise_generated_content -->

			</div> <!-- end div#main_content -->
		</div> <!-- end div#subcontainer -->
	</div> <!-- end div#container -->
<% end %>