<div id="banner_rotator" class="royalSlider default">
	<!-- container of slides(images) -->
	<ul class="royalSlidesContainer">
		<!-- slides -->
		
		<!-- home slide 1: photo collage —————————————————————————————————————— -->
		<li class="royalSlide" id="slide1">
			<img class="royalImage" src="/images/homepage/collage_02_1060x800.jpg" width="1060"/>
			<div class="royalCaption" style="left:300px; top:310px; width:400px; text-align:left; color:black; ">
			<!-- <div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >TRU-MEDICAL</div> -->
       <div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" style="top:40px; left:70px;">partnering with the provider<br> and the payor to meet the<br>needs of the patient</div>
       <!--
				<div class="royalCaptionItem sgSmallText more" data-show-effect="fade movetop" data-move-offset="8" data-delay="600" style="top:120px; left: 12px; font-size:16px;">
				</div> 
			-->
				<!-- <a class="moreButton non-draggable" style="background-color:black; color:white;" href="javascript:void()">More</a></div> No place to go. -->

			</div>
		</li>
		
		<!-- home slide 2: modalities (electrotherapy, ultrasound, ...)  ————— -->
		<li class="royalSlide" id ="slide2" >
			<img class="royalImage" src="/images/homepage/710016-000_1060x800.gif" width="1060" />
			<div class="royalCaption" style="left:660px; top:140px; width:320px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >MODALITIES</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" >Electrotherapy, Lotions & Gels, Hot & Cold Therapy, Hydrotherapy, Continuous Passive Motion</div>
				<div class="royalCaptionItem sgSmallText more" data-show-effect="fade movetop" data-move-offset="8" data-delay="600" ><a class="moreButton non-draggable" href='<%= category_path(1) %>'>More</a></div>
			</div>
		</li>
		
		<!-- home slide 3: clinical supplies  ————————————————————————————————— -->
		<li class="royalSlide">
			<img class="royalImage" src="/images/homepage/720033-222_1060x800.gif" width="1060" />
			<div class="royalCaption" style="left:370px; top:220px; width:600px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >CLINICAL SUPPLIES</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" >Therapeutic Exercise, Balance & Stability, Hand Therapy, Pillows & Cushions, Massage Products, Education</div>
				<div class="royalCaptionItem sgSmallText more " data-show-effect="fade movetop" data-move-offset="8" data-delay="600" ><a class="moreButton non-draggable" href="<%= category_path(23) %>">More</a></div>
			</div>
		</li>
		
		<!-- home slide 4: tables & traction  ————————————————————————————————— -->
		<li class="royalSlide">
			<img class="royalImage" src="/images/homepage/730026-333_1060x800.gif" width="1060" />
			<div class="royalCaption" style="left:320px; top:140px; width:600px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >TABLES & TRACTION</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8">Treatment Tables, Mat Tables Work Tables, Traction Products, Positioning Products</div>
				<div class="royalCaptionItem sgSmallText more " data-show-effect="fade movetop" data-move-offset="8" data-delay="600"><a class="moreButton non-draggable" href="<%= category_path(43) %>">More</a></div>
			</div>
		</li>
		
		<!-- home slide 5: fitness ———————————————————————————————————————————— -->
		<li class="royalSlide">
			<img class="royalImage" src="/images/homepage/740009-000_1060x800.gif" width="1060"  />
			<div class="royalCaption" style="left:330px; top:140px; width:600px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >FITNESS</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" >Treadmills, Exercise Bikes, Elliptical Trainers, </br>All Body & Upper Body Exercisers, Fitness Equipment</div>
				<div class="royalCaptionItem sgSmallText more " data-show-effect="fade movetop" data-move-offset="8" data-delay="600" ><a class="moreButton non-draggable" href="<%= category_path(59) %>">More</a></div>
			</div>
		</li>
		
		<!-- home slide 6: orthopedics ———————————————————————————————————————— -->
		<li class="royalSlide">
			<!-- <img class="royalImage" src="http://s3.amazonaws.com/trumedical/images/homepage/750180-000_1060x800.gif" width="1060"  /> -->
			<img class="royalImage" src="/images/homepage/750180-000_1060x800.gif" width="1060"  />
			
			<div class="royalCaption" style="left:620px; top:140px; width:600px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >ORTHOPEDICS</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" >Splinting Materials & Supplies, Supports including Hand & Wrist, </br>Elbow, Lumbar, Cervical Collars, Knee, Ankle</div>
				<div class="royalCaptionItem sgSmallText more" data-show-effect="fade movetop" data-move-offset="8" data-delay="600" ><a class="moreButton non-draggable" href="<%= category_path(70) %>">More</a></div>
			</div>
		</li>
		
		<!-- home slide 7: ATC/Taping ————————————————————————————— -->
		<li class="royalSlide">
			<img class="royalImage" src="/images/homepage/760033-000_1060x800.gif" width="1060"  />
			<div class="royalCaption" style="left:360px; top:140px; width:600px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >ATC/TAPING</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" >Taping & Wrapping Supplies, First-Aid, ATC Products</div>
				<div class="royalCaptionItem sgSmallText more " data-show-effect="fade movetop" data-move-offset="8" data-delay="600"><a class="moreButton non-draggable" href="<%= category_path(81) %>">More</a></div>
			</div>
		</li>
		
		<!-- home slide 8: Evaluation  ———————————————————————————————————————— -->
		<li class="royalSlide">
			<img class="royalImage" src="/images/homepage/770001-111_1060x800.gif" width="1060"  />
			<div class="royalCaption" style="left:620px; top:140px; width:600px; text-align:left; color:black;">
				<div class="royalCaptionItem title" data-show-effect="fade movetop"  data-move-offset="15" >EVALUATION</div>
				<div class="royalCaptionItem subtitle" data-show-effect="fade movetop"  data-move-offset="8" >Evaluation products including; Strength, Pulse, Range of Motion, </br>Sensory, Weight</div>
				<div class="royalCaptionItem sgSmallText more " data-show-effect="fade movetop" data-move-offset="8" data-delay="600"><a class="moreButton non-draggable" href="<%= category_path(86) %>">More</a></div>
			</div>	
		</li>	
		
		<!-- Note: there are no slides for categories Aids to Daily Living, Lymphedema, and Wound Care --> 
		<!-- If we eventually add them, the text for each should be as follows: 
				Aids to Daily Living – Reaches, Dressing Aids, Mobility, Wheelchairs, Seating
				Lymphedema – Bandages, Gloves, Arm Sleeves, Stockings
				Wound Care – Bandages, Gauze, Wound Cleansers, Suture & Debridement Kits, Phlebotomy Containers, Scar Therapy
		-->

	</ul> <!-- end of ul with class 'royalSlidesContainer' -->
</div> <!-- end of div#bannerRotator -->