<!--  ————————————————————————————————————————————————————————————————

Layout: index.html.erb

Doc: home page for the site
		 Note: right_container does not move on the home page (unlike on llC and
			Product page ); here it is anchored on left under menu.
			Both divs (menu and right-content) are 235px wide. 

——————————————————————————————————————————————————————————————————————

ToDo:		

	1. Implement Google SEARCH retaining the graphics of the mavic site rather than the Google replacement; see Known Bugs #4 
	2. Move include of home.css to this file, and remove it from application.html.erb
   

Known Bugs:
	
	3. reference to stylesheets/images/footer_triangle.gif — Where is it referenced? Can it be cut? 	
	4. not enough vertical space for product menu, search, TruMedical, ppp; 2 boxes; 
	solution: move search to upper right under register/login cart/checkout links  
	5. layout of title text in box truValue products 
	6. image scroller:
			6-1 The text blocks are at a z-index that makes them scroll across on top of the left-menu which is at z-index 11. The 'More' button seems like it is above black_screen at z-index 10. 
			6-2 understand the slider library better 

Unknowns:

	1. how/when logo-container moves around the window. What triggers the recalculation
		(presumably window resize); what algorithm used for the recalculation; how does the 
		algorithm chose where to move it to. 	


<%= content_for(:header) do %>

	<!-- css and js files for the large background image scroller on the home page -->
	
	<%= stylesheet_link_tag "royalslider.css" %>
	<%= stylesheet_link_tag "royalslider-skins/default/default.css" %>
	<!-- it is included by layout file: application.html.erb
	<%# stylesheet_link_tag "left_nav_popops.css" %> 
-->
	<%= javascript_include_tag "jquery.easing.1.3.min.js" %>
	<%= javascript_include_tag "royal-slider-8.0.js" %>
	
		
	<script type="text/javascript">
		jQuery(document).ready(function() {
		
		    $("#banner_rotator").royalSlider({
						hideArrowOnLastSlide:true,
						slideshowEnabled:true,
						slideshowAutoStart:true,
						slideTransitionSpeed:800,
						controlNavEnabled:true,
						slideSpacing:0,
						slideshowDelay:20000,
						slideshowPauseOnHover: false  
								
		    });
				
		});
	</script>	


	<script type="text/javascript">
		$(window).bind("resize", function(){		
			repositionDescription(); /* ???? Repositioning logomark or content_right?  */ 
		});
		var initHome = function(){
			$('HTML').css('overflow','auto'); /* ??? why doing this in a runtime function? */
		};
	</script>

	<style type="text/css">
		/* #banner-rotator { height: 800px; overflow:hidden; border:none; margin-left:0px; } */
		.moreButton { background-color:#0094DE; color:white; padding:5px 10px 5px 10px;} /* or orange: #FFA500 */
		li.royalSlide a:hover { background-color:black; color:white;}
		
	</style>
	
	<!--  jQuery to support popup menu for non-product categories-->
	<!--  Removed in debugging; document_ready declarations for all left-menu items 
				put in application.html.erb — even those that occur only on the home pag. 
	-->
	<!-- override the declarations in stylesheets/left_nav_popups.css now on Amazon S3 with a far forward expires header; may have to defeat overflow, and height-->
	<style type="text/css">
		.bold { font-weight: bold; }
		/* tm-blue: #0094DE; orange:#FFA500 */
		#popup_trumedical {top:44px; background-color:#0094DE; color:white; padding-top:25px; padding-bottom:30px; height:auto; overflow:visible; }
		#popup_patients {top:44px; background-color:white; color:#0094DE; padding-top:25px; padding-bottom:30px; height:auto; overflow:visible; } 
		#popup_providers {top:44px; background-color:white; color:#0094DE; padding-top:25px; padding-bottom:30px; height:auto; overflow:visible; }
		#popup_payors {top:44px; background-color:white; color:#0094DE; padding-top:25px; padding-bottom:30px;height:auto; overflow:visible; }
		#popup_payors h2 { color: white; }

	</style>


<% end %>


<%= content_for(:middleBand) do %> 

	<!-- redundant on home page; and causing performance problem
	<div id="logo"><#= image_tag("logos/logo_on_white_315.png") %></div>
	-->
	
		<!-- left_column  ———————————————————————————————————————————————————————————— -->
		
		<!-- The div 'left_column groups 'menu' and 'right_content' on home page; 
				 The div 'right_content' is the little block of 4 blocks that on wider pages is 
				 to the right of the main section of the page, but on the home page is locked 
				 in place below the left menu
		-->
		<!-- slides on home page  ————————————————————————————————————————————————————— -->	 

		<%= render(:partial => 'slides_local') %> 
		
		<div id="left_column" class="home" >
			
			<!-- menu —————————————————————————————————————————— -->
			<%= render(:partial => 'menu_home') %>
			
			<!-- right content container  —————————————————————— -->
			<div id="home_right_content_container">
				<!-- <%# render(:partial => 'homeRightContent') %> -->
			</div><!-- end div 'home-right_content_container' -->
	
		</div><!-- end of div 'left_column' -->
		
		<div id="center_column" class="home">
		

			
			<%= render(:partial => 'popups_home') %> 

			<!-- floating logo —————————————————————————————————————————————————————————— -->
			
			<!--
			<div id="logo_container">
				[[ TRU-MEDICAL LOGO ]]
			</div>
			-->
	</div> <!-- end div 'center_column" -->
		

<% end %> <!-- end of content for :middleBand_content -->
