
<!-- ————————————————————————————————————————————————————————————————
		Controller: base_products
		Action: show 
		
		Presupposes an instance variable @base_product that has been 
		set up by the controller/action. Also the leaf-level category of
		this product in the instance variable @category. 
		
		Shows the image and description associated
		with this base product. Then iterates through all of the specific products 
		(choice of <size> and <color> the base product is offered in. 
		TruMedical did not use Netsuite's 'matrix products' to model this, instead
		modeling each specific product as a Netsuite item.  
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Products </title> 
	
	<!-- Reenable this once have the basic display of product fields working  									
	<%# javascript_include_tag "galleria-1.2.4.min.js" %>
	<%# javascript_include_tag "zoom_and_mega_zoom.js" %>
-->

	<script type="text/javascript" >

		$(document).ready(function() {	
				//	$("#body-background").ezBgResize();
					$("#body-background").css("background-color","#E6E6E6");				
				//	checkSize();
					$("#addToCart").click(function(){
						addtocart();
						return false;
					});
				});

				function addtocart()
						{
							alert("Adding items to cart. Click OK to continue.")
							var accountid = "1114349"; //Netsuite account id

							$("input[id*=qty_]").each(function()
							{
								if($(this).val()!="")
								{
									if(parseInt($(this).val())>0)
									{
										var itemid = $(this).attr('id').replace('qty_','');
										var itemprice = $("#price_"+itemid).html().replace('$','');

										var itemqty = $(this).val();
										//add to cart url
										var myurl = 'http://shopping.netsuite.com/app/site/backend/additemtocart.nl?&c='+accountid+'&qty='+itemqty+'&buyid='+itemid+'&amount='+itemprice;		     
									    //create hidden iframe in body
									    $('body').append('<iframe id="addtocartframe'+itemid+'" style="display:none" />'); 
									    //change src to iframe
									    $('#addtocartframe'+itemid).attr('src', myurl);
									}
								}
							});
							$("input[id*=qty_]").each(function()
							{
								$(this).val('');
							});

							return false;
						}
	</script>


	<style type="text/css">
		/* div#product_goodies {max-height:625px; overflow-y:auto;padding-right:20px;margin-top:5px;} */
		div#product_image_description { margin-top:20px; padding-left:40px;}
		div#product_image_description img { margin-bottom:15px;}
		div#shipping_etc_icons img { display: block-inline; }
		div#products { margin-top:10px; padding-left:40px;}
		div#title { color:orange; font-size:14px; font-weight:bold;}
		#products table { margin-bottom:30px; }
		#products table td.description { 
			background-image: url("../images/utility/dot.gif");
			background-repeat: repeat-x;
			background-position:0% 70%; 
			}	
		.for_text{background-color:white; z-index:99; display:inline;padding-right:8px;}
		#products td.price {text-align: right;}
		#addToCart, #checkOut {
			background-color:orange; 
			color:white; 
			font-size:12px; 
			padding-top:6px; padding-bottom:6px; 
			border:none;
			}

	</style>



<% end %>


<%= content_for(:middleBand) do %>
	
	<div id="left_column" >

		<!-- menu —————————————————————————————————————————— -->
		<%= render(:partial => 'shared/menu') %>

		<!-- featured products  —————————————————————— -->
		<%= render(:partial => 'shared/featuredProducts') %>

	</div><!-- end of div 'left_column' -->

	<div id="center_column">
				
				<!-- breadcrumb trail ———————————————————————————————————————————————————— -->
				<%= render :partial => "/shared/breadcrumb" %>
				
				<!-- logo_container ————————————————————————————————————————— -->
				<div id="logo">
					<% logomark = image_tag("logos/logo_on_white_315.jpg") %>
					<%= link_to(logomark,root_path()) %>
				</div>
			
				<!-- error messages —————————————————————————————————————————————————————— -->
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>
				
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				<%= render(:partial => "/shared/menu_popups") %>

				<div id="product_goodies">
	      <!-- base product ———————————————————————————————————————————————————————— -->

				<div id="product_image_description">
					<!-- change to large picture --> 
					<%= image_tag("/images/products/all_large/" + @base_product.image_filename[0,6] +"-000" + ".jpg") %>
					<!--
					<%# image_tag("/images/products/all_medium/" + @base_product.image_filename[0,6] + "-000" + ".jpg") %>
					-->
					<div id="title">
						<%= raw(@base_product.name) %> <!-- or use web_description once edit data file -->
					</div>
					
					<div id="description">
						<%= raw(@base_product.long_description) %>
					</div>
					<div id="shipping_etc_icons">
							<%= if @base_product.method_of_shipment == 'LTL' || @base_product.method_of_shipment == 'VAN LINE'  then image_tag("utility/truck_46x24.gif",:class => "withToolTip", :title => "shipped by truck") end %>
							<%= if @base_product.assembly_p == 1 then image_tag("utility/wrench_24x24.gif",:class=>"withToolTip",:title => "some assembly required") end %>
							<%= if @base_product.latex_p == 1 then image_tag("utility/latex_free_49x49.gif") end %>
					</div>
					
				</div> 

				<!-- base product offered in:   ——————————————————————— -->
				
				<div id="products">
		
					<table cellspacing="10">
						<col/>
						<col align="left" width="300px"/>
						<col align="right"/>
						<col align="left"/>
						<th align="left">Part No</th>
						<th align="left">Description</th>
						<th align="right">Price</th>
						<th align="left">Qty</th>
						
					<% @base_product.simple_products.each do |p| %>
						<tr>
							<td><%= p.tms_part_no %></td>
							<td class="description">
								<div class="for_text"><%= p.web_description %></div> <!-- need raw(..)? -->
							</td>
							<td class="price" id="price_<%= p.netsuite_item_no %>">
								<%= if current_user.clinician									
							  	case current_user.clinic.price_schedule
										when "tru-blue"
											number_to_currency(p.price_tru_blue)
										when "corporate-2"
											number_to_currency(p.price_corporate_2)
										when "corporate-3"
											number_to_currency(p.price_corporate_3)
										when "dealer-1"
											number_to_currency(p.price_dealer_1)
										when "dealer-2"
											number_to_currency(p.price_dealer_2)
										when "dealer-3"
											number_to_currency(p.price_dealer_3)
										else 
											number_to_currency(p.price_clinic_list)
									end
									
								else
									number_to_currency(p.price_clinic_list);
								end %>
							</td>
							<td style="padding-top:0px;"><input class="ui-corner-all" id="qty_<%= p.netsuite_item_no %>" style="width:30px;" type="text"></td>
						</tr>
					<% end %>	

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><button id="addToCart" class="ui-corner-all">ADD TO CART</button></td>

						</tr>
						
						<tr>
							<td>
								<button id="checkOut" class="ui-corner-all">
									<a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=4&n=1" style="color:white; text-decoration:none">CHECK OUT</a>
								</button>
							</td>
							<td></td>
							<td></td>
						</tr>
			
					</table>
				
				</div> <!-- end div#products -->
				
			</div>   <!-- end div#product_goodies -->
			
		</div> <!-- end div#center_column  -->


<% end %>