<!-- 
      —————————————————————————————————————————————————————————————————————————————————————————

				LeafCategory#show
				
			—————————————————————————————————————————————————————————————————————————————————————————	
      to do:

				1. Create partial for products related section of the left nav: [DONE]
				2. Create partial for search if want to put it on LLC and product pages as well as home page
				3. Create partial for right_content
				3. Create rails code that iterates through products for this leaf-level category
				4. create controllers/actions for category#display, product#display
				5. factor mavic css file [DONE]    
          
      open questions:
				1. Background image for modalities — or just a color block?  
				2. width:  
          	15 left_content(235) 745 (main) 5px (running total:1000) right_content(235), 160; total 1395  (but only measures 1390; where is the 5px?) Answer: main+right padding=745 not 750
              so:
              	1000 to edge of main content block + 5 px border, so 1010 to balance it with 15px border on right/left
                  1235 to right end of right_content block; 1250 if include a 15px border on right
                  170 logomark which overlaps with the content-right by 10 px, and is tied to right edge of window      			
				3. Enable floating logomark?  if so : design one that works on a block of color. 
				4. Need to understand how the code is moving right_content from right to left under menu if page is too narrow. This works here, in mavic_llc.html  but not in mav0llc_3.html, where it drops below the main block also. Even on this page, works on Safari, but drops below left on Firefox.
					— If left it on left in all pages, then it would not interfere with upper right links
					to Netsuite. 
					
			problems
				1. the register/login checkout/cart search stuff on upper right — should it be here? 
				
			refactoring:    
				1. Consider using HTML5 'semantic' sections, SASS      
          
      —————————————————————————————————————————————————————————————————————————————————————————
  -->
      

<%= content_for(:header) do %>

	<title>TruMedical Solutions / Products / <%= @category.parent.parent.name %> / <%= @category.parent.name %> / <%= @category.name %> </title>  
	     									
	<script type="text/javascript" >

		$(document).ready(function() {	
				$("#body-background").ezBgResize();				
				checkSize();
				/* 
				$("#body-background").ezBgResize();				
				getSessionProductCompare();
				checkSize();
				*/
				$(".product").mouseenter(function(){
					$(this).css("background-color","orange");
				});
				$(".product").mouseleave(function(){
					$(this).css("background-color","#E6E6E6");
				});
				$("#body-background").css('background-color','#E6E6E6'); /* doing anything? */
			});
	
	</script>
	<style type="text/css">
		div.products { margin-top:20px;}
		div.product {
			width: 120px; height:120px; 
			margin-right:10px; margin-bottom:10px; 
			float:left; 
			background-color:#E6E6E6;
			border: 1px solid gainsboro;
			}
		div.productName { padding:5px;margin:0;text-align:center;}
		div.productName a:hover { color:white!important;} /* Why working in category, leaf_category, but not here?*/

	</style>
	
	<style type="text/css">
		#content_gamme_items {float:left;} /* so will expand for contained floats */
		#content_gamme_items div.product_item { position:relative; float:left; background-color:pink;outline: 1px solid red;}
		
		#content_product_items { 
			position:relative; /* the default */
			float:left; /* so it will expand for contained floats */
			min-height: 250px;
			margin-top:0px;
			padding-bottom:23px;
		}
		#product_items { 
			width:100%;
			position:relative;
			float:left; 
			padding:0px 0px 23px 0px;
			margin:0px;
			}
		.product_item { 
			width:169px; height:230px;
			position:relative;
			float:left;
			margin-top: 15px;
			margin-right:8px; /* 169+11 = 180px width; */
			margin-bottom:20px;
			margin-left:0px;
			padding:0px;
			cursor: pointer;
			background-color:white;
			}
		.product_item .image { outline: 1px solid gainsboro;}
		.product_item .image img {  } 
		.product_item .name {
			width: 169px;
			padding-top: 0px 20px 0px 0px;
			border-top: 1px solid #7d7d7d;
			margin-top: 10px;
			font-size: 11px;
			line-height: 14px;
			text-align: center;
			font-family: Helvetica;
			font-weight: bold; 
		}
		
	</style>
	
	<style type="text/css">
		div.products_div { margin-top:20px;}
		div.product_div {width: 120px; margin-right:10px; margin-bottom:10px; float:left; height:120px;
			background-color:#E6E6E6; border:1px solid #E6E6E6;}
		div.productName { padding:5px;margin:0;text-align:center;}
		div.productName a:hover { color:white;}
	</style>
<% end %>

  
<%= content_for(:body) do %>
	
	<div id="body-background">
		<!-- image replaced with a background color: gray or one that matches category -->
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
      
	<!-- container —————————————————————————————————————————————————————————————————— -->
      
	<div id="container">
      
		<div id="black_screen"></div>
		
		<!-- subcontainer —————————————————————————————————————————————————————— -->
          
		<div id="subcontainer"> <!-- Why are menu and main content grouped into a combination div 'subcontainer' ? -->
			<!-- MENU —————————————————————————————————————————————————————  -->
			
			<%= render :partial => 'shared/menu' %>

				
			<!-- MAIN CONTENT —————————————————————————————————————————————— -->
              
			<div id="main_content">
              
				<!-- Breadcrumb ———————————————————————————————————————————— -->
				<div id="breadcrumb">
					<!-- generate this: use acts_as_tree().reverse as in RailsCast 262 -->
					<div style="float:left">
						<b><%= link_to("Home Page",{ :controller => 'home',:action =>'index'} ) %></b><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
							<!-- <a href="/home/index">Home Page</a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp; -->
					</div>
					<div style="float:left">
						<b><a href="#url"><%= @category.parent.parent.name %></a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
					</div>
					<div style="float:left">
						<b><a href="#url"><%= @category.parent.name %></a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
					</div>
					<div style="float:left">
						<b><a href="#url"><%= @category.name %></a></b>
					</div>
				</div>
				
				<!-- Error Messages ———————————————————————————————————————— -->
				<div id="error-messages" style="display:none"></div>			
                  
				<div id="tabs">
					
					<!-- horizontal line of tabs/buttons: one per subcategory ————————————————————————— -->
					
					<!-- problem: in some cases, subcategory names are too long to allow all subcategories 
						to fit in a single horizontal row as this design assumes; 
						e.g., in Modalities there is room for 3 of 5 subcategories --> 
					<!--	
					<div id="tabs_buttons_gamme">
						<!-# replace this with a div#subcategories/ { div.subcategory } nested divs with the 
							inner div.subcategory generated from the category tree in the database 
							Its really a tabbed interface but with the tabs styled like buttons not tabs.
							Remove all the inline javascript on document ready and replace it with jQUery
					 		See if there is a tab library that I could use? 
							Or just write another home-brew one as I did on the home page. 
						#->
						
						<div class="tab"><a class="helvetica" href="">Ultrasound</a></div>
						<div class="tab"><a class="helvetica" href="">Stim</a></div>
						<div class="tab"><a class="helvetica" href="">Combination</a></div>
						<div class="tab"><a class="helvetica" href="">Iontophoresis</a></div>
						<div class="tab"><a class="helvetica" href="">Electrodes</a></div>
						<div class="tab active"><a class="helvetica" href="">Lotions & Gels</a></div>
						<div class="tab"><a class="helvetica" href="">Accessories</a></div>					
					</div> 
		
					<div class="clear"></div>
				-->
					
					<!-- PRODUCTS  ————————————————————————————————————————————————————————————————— -->

					<!-- if category is simple render 'simple products', if matrix render the partial 'matrix_products', if complex render the partial 'complex_products'
						--> 
					<!-- test #1 category id=7 lotions and gels -->
      		<%= render :partial => "simple_products" %> 
					<!-- test #2 category id=X nylatex wraps
      		<%# render :partial => "matrix_products" %>
					-->
					<!-- test #3 category id=X nylatex wraps 
      		<%# render :partial => "matrix_products" %>
           --> 
    
				</div> <!-- end div 'tabs' -->
                  
			</div> <!-- end div 'main content' -->
              
		</div><!-- end div 'subcontainer'  -->
		
		<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->
		<div id="right_content_container">
      <%= render(:partial => 'shared/rightContent') %>	       
		</div>
      
		<div id="forScrollTop" class="clear"></div> <!-- what does this clearing div do?  -->
          
	</div><!-- end div 'container' -->
      
	<!-- logo_container ——————————————————————————————————————————————————————————————— -->
      
	<div id="logo_container">
		<a href="/en" id="logo" title="home page" name="logo">home page</a>
	</div>
	
<% end %>


