
	<!-- 
        —————————————————————————————————————————————————————————————————————————————————————————

					Category#show
					
				—————————————————————————————————————————————————————————————————————————————————————————	
        
				to do:
					1. Use /shared/_menu.html.erb for menu  [DONE]
					2. Create code that iterates through leaf-level categories for this subcategory [DONE]
					3. Comment out the sibling category navigation until can make it work:
							1. how handle more than will fit on the line? —— scroll in from the right? 
							2. when click on a link in the sibling have either: (a) highlight that one in orange and use AJAX to rbuild the set of images in the body of the page, or (b) go to a new page, in which the category clicked on is the left-most one in the top menu  ( or is correctly placed, but highlighted). Of these, I like the AJAX alternative. 
				
				bugs:
					1. left nav doesn't work on this page
					2. alignment of subcategories
					3. search ugly
					4. remove down arrow from what is now the category title at the top of the page, but used to be a button for the sibling nav. 

            
        open questions:
					1. Background image for modalities — or just a color block?  
					2. width:  
            	15 left_content(235) 745 (main) 5px (running total:1000) right_content(235), 160; total 1395  (but only measures 1390; where is the 5px?) Answer: main+right padding=745 not 750
                so:
                	1000 to edge of main content block + 5 px border, so 1010 to balance it with 15px border on right/left
                    1235 to right end of right_content block; 1250 if include a 15px border on right
                    170 logomark which overlaps with the content-right by 10 px, and is tied to right edge of window      			
					3. Enable floating logomark?  if so : design one that works on a block of color. 
					4. Need to understand how the code is moving right_content from right to left under menu if page is too narrow. This works here, in mavic_llc.html  but not in mav0llc_3.html, where it drops below the main block also. Even on this page, works on Safari, but drops below left on Firefox.
						— If left it on left in all pages, then it would not interfere with upper right links
						to Netsuite. 
					
				refactoring:
					1. Create partial for right_content and replace it in all templates with a render(:partial)  [DONE]
            
        —————————————————————————————————————————————————————————————————————————————————————————
    -->
        

	<%= content_for(:header) do %>

		<title>TruMedical Solutions / Products / [category] / [subcategory ] / [leaf category] </title>       									
		<script type="text/javascript" >
			$(document).ready(function() {	
					/* 
					$("#body-background").ezBgResize();				
					getSessionProductCompare();
					checkSize();
					*/
					$(".leafCategory").mouseenter(function(){
						$(this).css("background-color","orange");
					});
					$(".leafCategory").mouseleave(function(){
						$(this).css("background-color","#E6E6E6");
					});
					$("#body-background").css('background-color','#E6E6E6');
				});		
		</script>
		
		
		<style type="text/css">
			div.leafCategories { margin-top:20px;}
			div.leafCategory {
				width: 120px; height:120px; 
				margin-right:10px; margin-bottom:10px; 
				float:left; 
				background-color:#E6E6E6;
				border: 1px solid gainsboro;
				}
			div.leafCategoryName { padding:5px;margin:0;text-align:center;}
			div.leafCategory a:hover { color:white;}
		</style>
  
	<% end %>

    
	<%= content_for(:body) do %>
		
		<div id="body-background">
			<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
		</div>
        
		<!-- container —————————————————————————————————————————————————————————————————— -->
        
		<div id="container">
        
			<div id="black_screen"></div>
			
			<!-- subcontainer —————————————————————————————————————————————————————— -->
            
			<div id="subcontainer"> <!-- Why are menu and main content grouped into a combination div 'subcontainer' ? -->
				<!-- MENU —————————————————————————————————————————————————————  -->
				
				<%= render :partial => 'shared/menu' %>
				
				<!-- popup overlays that contain 1st level of navigation for category tree ———————————————— -->
				<!-- 
				Where should they go on this page?  inside what div?  subcontainer or main_content?  
				Try in main_content first. Does it matter?
				-->
					
				<!-- MAIN CONTENT —————————————————————————————————————————————— -->
                
				<div id="main_content">
					
           <!-- insert here the partial '/shared/menu_popups.html.erb' if that doesn't break things 
	     			Note: /shared/menu_popups, not /shared_menu_popups_home.  
								It is a smaller menu: only the top level categories (and search button).
								It also uses the instance variable @top_category rather than @category.  
								The home page can use @category because it does not use it elsewhere; the 
								category pages cannot; using it within 
						-->
					<%= render(:partial => "/shared/menu_popups") %> 
					
					<!-- Error Messages ———————————————————————————————————————— -->
					<div id="error-messages" style="display:none"></div>
				
					<!-- remove the breadcrumb from intermediate category pages; leave in for testing 
						(as a way of getting back to the home page)  until have left-nav working 
						from pages other than the home page
					-->
					
					<!-- Breadcrumb ———————————————————————————————————————————— -->
					<%= render :partial => "/shared/breadcrumb" %>
					
					<!-- TABS: repeat subcategories within this category  ——————————————————————————————— -->
					<!-- Show products for the subcategory that he selected on the home page
						   Change to products for a different subcategory if he selects it here
							 How does/should this work if there is another level of categories?
							 Never is in Mavics?  Does occur in TruMedical?
						-->
							
					<!-- Sibling Nav  ——————————————————————————————————————————————————————————————————— -->
                    
					<div id="tabs">
						
						<!-- horizontal line of tabs/buttons: one per subcategory ————————————————————————— -->
						<!-- problem: subcategory names are too long to allow all subcategories to fit in a single horizontal row as this design assumes; in Modalities there is room for 3 of 5 subcategories --> 
						<div id="tabs_buttons_gamme">
							<!-- stripped out; see show_siblinghNav.html.erb
							-->
							<!-- <div id="all_exercisers" onMouseOut="outTab(this)" onMouseOver="overTab(this)" class="tab active"> -->
							<div class="tab active">
								<%= @category.name %>
								
							</div>
							
							
						</div> <!-- end tabs_buttons_gamme -->
						<div class="clear"></div>

						
						<!-- (Leaf-level) SUBCATEGORIES  ———————————————————————————————————————————————— -->

						<%= render "leafCategories" %>
						
                
						<div class="clear"></div>
                    
					</div> <!-- end div 'tabs' -->
                    
				</div> <!-- end div 'main content' -->
                
			</div><!-- end div 'subcontainer'  -->
			
			<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->
			<div id="right_content_container">
	      <%= render(:partial => 'shared/rightContent') %>	       
			</div>
        
			<div id="forScrollTop" class="clear"></div> <!-- what does this clearing div do?  -->
            
		</div><!-- end div 'container' -->
        
		<!-- logo_container ——————————————————————————————————————————————————————————————— -->
        
		<div id="logo_container">
			<a href="index.html" id="logo" title="home page" name="logo">home page</a>
		</div>
		
	<% end %>


