
	<!-- 
        —————————————————————————————————————————————————————————————————————————————————————————

					Category#show
					
				—————————————————————————————————————————————————————————————————————————————————————————	
        
				to do:
					3. Comment out the sibling category navigation until can make it work:
							1. how handle more than will fit on the line? —— scroll in from the right? 
							2. when click on a link in the sibling have either: (a) highlight that one in orange and use AJAX to rbuild the set of images in the body of the page, or (b) go to a new page, in which the category clicked on is the left-most one in the top menu  ( or is correctly placed, but highlighted). Of these, I like the AJAX alternative. 
				
				bugs:
					4. remove down arrow from what is now the category title at the top of the page, but used to be a button for the sibling nav. 

            
        open questions:
					1. Background image for modalities — or just a color block?  
					3. Enable floating logomark?  if so : design one that works on a block of color. 
					4. Consider moving what is now called featuredProducts div to a #right column within #middleBand — either always, or if the users window is wide enough.  If not, tuck it under left nav as it is now. 
            
        —————————————————————————————————————————————————————————————————————————————————————————
    -->
        

	<%= content_for(:header) do %>

		<title>TruMedical Solutions / Products / [category] / [subcategory ] / [leaf category] </title>       									
		<script type="text/javascript" >
			$(document).ready(function() {	
					$(".leafCategory").mouseenter(function(){
						$(this).css("background-color","orange");
					});
					$(".leafCategory").mouseleave(function(){
						$(this).css("background-color","#E6E6E6");
					});
					$("#body-background").css('background-color','#E6E6E6');
				});		
		</script>
		
		<!-- jQuery to support animated TruMedical LogoMark -->
		<script type="text/javascript">
			$(document).ready(function(){	
				/* $("#logo").fadeIn(3000);	*/
			});
		</script>
		
		<style type="text/css">
			#logo {
				position: relative; /* within #center_column; overrides trumedical_base.css */
				margin-left:490px; 
				top: 0px; /* to override values set in trumedical_base.css line 289ff */
				right:0px;
				height:80px;
				width:380px;
				z-index: 3; /* so it will be below black-screen */
				background-image: url("/images/logos/logo_on_white_315.png");
				background-repeat: no-repeat;
			}
			div#tabs { margin-top:-20px; } /* Firebug shows it as 78px high. Why? */
			div#tabs_buttons_gamme { margin-bottom:20px!important; }
			/* div#subcategories { max-height:570px; overflow-y:auto; padding-right:20px; margin-top:5px;} */
			div#subcategories { margin-top:5px; } 
			div.leafCategories { margin-top:20px;}
			div.leafCategory {
				width: 120px; height:120px; 
				margin-right:10px; margin-bottom:10px; 
				float:left; 
				background-color:#E6E6E6;
				border: 1px solid gainsboro;
				}
			div.leafCategoryName { padding:5px;margin:0;text-align:center;}
			div.leafCategory a:hover { color:white;}
			
			div.products { margin-top:20px;}
			div.product {
				width: 120px; height:145px; 
				margin-right:10px; margin-bottom:10px; 
				float:left; 
				background-color:#E6E6E6;
				border: 1px solid gainsboro;
				}
			div.productName { padding:5px;margin:0;text-align:center;}
			div.productName a:hover { color:white!important;} /* Why working in category, leaf_category, but not here?*/
			div.pic { width:120px; height:80px; background-color:white; display: table-cell; vertical-align:middle;  }
			div.pic img { display:block; margin: 0 auto; vertical-align:middle; }

			
		</style>
  
	<% end %>

    
	<%= content_for(:middleBand) do %>
		
		
			<div id="left_column" >

				<!-- menu —————————————————————————————————————————— -->
				<%= render(:partial => 'shared/menu') %>

				<!-- featured products  —————————————————————— -->
				<%= render(:partial => 'shared/featuredProducts') %>
			</div><!-- end of div 'left_column' -->

			<div id="center_column">
					
           <!-- insert here the partial '/shared/menu_popups.html.erb' if that doesn't break things 
	     			Note: /shared/menu_popups, not /shared_menu_popups_home.  
								It is a smaller menu: only the top level categories (and search button).
								It also uses the instance variable @top_category rather than @category.  
								The home page can use @category because it does not use it elsewhere; the 
								categories/show pages do use @category.   
						-->
					<%= render(:partial => "/shared/menu_popups") %> 
					
					<!-- Error Messages ———————————————————————————————————————— -->
					<div id="error-messages" style="display:none"></div>
					
					<!-- Breadcrumb ———————————————————————————————————————————— -->
					<%= render :partial => "/shared/breadcrumb" %>

					<!-- logo_container ————————————————————————————————————————— -->
					<div id="logo"></div>
			
					<!-- TABS: repeat subcategories within this category  ————————————————————— -->
					<!-- Show products for the subcategory that he selected on the home page
						   Change to products for a different subcategory if he selects it here
							 How does/should this work if there is another level of categories?
							 Never is in Mavics?  Does occur in TruMedical?
						-->
							
					<!-- Sibling Nav  ——————————————————————————————————————————————————————— -->
                    
					<div id="tabs">
						
						<!-- horizontal line of tabs/buttons: one per subcategory ———————————————— -->
						<!-- problem: subcategory names are too long to allow all subcategories to fit in a single horizontal row as this design assumes; in Modalities there is room for 3 of 5 subcategories --> 
						<div id="tabs_buttons_gamme">
							<!-- stripped out; see show_siblinghNav.html.erb
							-->
							<!-- <div id="all_exercisers" onMouseOut="outTab(this)" onMouseOver="overTab(this)" class="tab active"> -->
							<div class="tab active">
								<%= @category.name %>								
							</div>														
						</div> <!-- end tabs_buttons_gamme -->
				
						<!-- SUBCATEGORIES ———————————————————————————————————— -->
						<div id="subcategories">
						<!--
								If at a leaf category then iterate through the 'products' that are members of this category, calling the appropriate partial to render each 'product' depending on whether it is a base_product, or a simple_product.  Don't worry about complex products for now.  There are none in tlc#, Clinic. 
								Otherwise render subcategories of this category.  For now, just render a partial that prints an error. 
						-->
						<% if @category.children.empty? # ie if we are at a leaf category %> 
									<% if @category.products.empty? %>
										<p style="color:red"><i>We don't currently offer products in this category on-line. Call us at 877-882-7844.</i></p>
									<% end %>
									
									<% if @category.id == 21 %>
										<p><i>Call Today for Pricing on Whirlpools. 877-882-7844. <i></p>
									<% end %>
									
							 	<%	@category.products.each do |p|
										if p.show_in_llc == 1
										case p.type
										when "ProductSet" %>
											<div class="product">
												<a href='<%= product_set_path(p.id) %>'>			
													<div class="pic">
														<%= image_tag("/images/products/all_small/" + p.image_filename + ".jpg") %>
													</div>			
													<div class="productName"><%= sanitize(p.name[0,44]) %></div>
												</a>
											</div>
										
										<% when "BaseProduct" %>
										
											<div class="product">
												<a href='<%= base_product_path(p.id) %>'>	
													<!-- may want to move the show action and its view for base_product into product --> 		
													<div class="pic">
														<%= image_tag("/images/products/all_small/" + p.image_filename + ".jpg") %>
													</div>			
													<div class="productName"><%= sanitize(p.name[0,44]) %></div>
												</a>
											</div>
											
										<% when "SimpleProduct" %>
											<div class='product'>
												<a href='<%= product_path(p.id) %>'>
													<div class='pic'>
														<%= image_tag('/images/products/all_small/' + p.image_filename + '.jpg') %>
													</div>
													<div class='productName'><%= sanitize(p.name[0,44]) %></div>
												</a>
											</div>
										<% when "ProductType" %>
											<div class="product">
												<a href='<%= product_type_path(p.id) %>'>
													<div class='pic'>
														<%= image_tag('/images/products/all_small/' + p.image_filename + '.jpg')  %>
													</div>
													<div class='productName'><%= sanitize(p.name[0,44]) %></div>
												</a>
											</div>
										<% end # end of the case statement
						
									end # end of the do block
								end # end of the if statement
							
						end %> 
						<% if !@category.children.empty? %>
							<!-- <p style="color:red; margin:10px;">DEBUGGING: at intermediate category</p> -->
							<div class="leafCategories" style="margin-top:20px;">

								<% @category.children.each do |subcat| %>

									<!-- render a clickable partial that displays the subcategory image and name -->
									<div class="leafCategory">
										<a href='<%= category_path(subcat.id) %>'>
											<div class="pic">
												<%= image_tag("/images/categories/all/" + subcat.image_filename + ".jpg") %>
											</div>
											<div class="leafCategoryName"><%= subcat.name %></div>
										</a>
									</div>

								<% end %>

							</div><!-- end div.leafCategories -->
						<% end %> 
						
					</div> <!-- end div#subcategories -->
                    
				</div> <!-- end div 'tabs' -->
                    
			</div> <!-- end div 'center_column' -->
  
        

		
	<% end %> <!-- end content_for(:middleBand) -->


