<!-- header includes  ——————————————————————————————————————————————————  -->

<%= content_for(:header) do %>
	<style type="text/css">
		div#devise_generated_content form { margin-bottom:20px; } 
		div#devise_generated_content a { color:orange; }
			div#devise_generated_content input {margin-bottom:10px;}
	</style>
<% end %>


<!-- body includes  ————————————————————————————————————————————————————  -->
<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
	<div id="container">
		<div id="subcontainer">

			<!-- menu —————————————————————————————————————————————————————  -->

			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				<div id="devise_generated_content">
					<p>Welcome <%= @resource.email %>!</p>

					<p>You can confirm your account through the link below:</p>

					<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

				</div> <!-- end div#devise_generated_content -->

			</div> <!-- end div#main_content -->
		</div> <!-- end div#subcontainer -->
	</div> <!-- end div#container -->
<% end %>