<!-- header includes  ——————————————————————————————————————————————————  -->

<%= content_for(:header) do %>
	<style type="text/css">
		div#devise_generated_content form { margin-bottom:20px; } 
		div#devise_generated_content a { color:orange; }
		div#devise_generated_content input {margin-bottom:10px;}
		div#center_column { /* override default layout */
			padding-left:40px; 
			padding-top:0px;
			}
		div#center_column div#devise_generated_content h2 { 
			background-color: orange;
			color:white;
			padding: 5px 10px 10px 10px;
			width: 155px;
		}
		div#center_column div#devise_generated_content hr { 
			width:94%;
			float:left;
			margin-top:-11px;
			padding-top:0px;
		}
	</style>
<% end %>

<!-- middleBand includes  ———————————————————————————————————————————————  -->

<%= content_for(:middleBand) do %>

	<div id="left_column" >

		<!-- menu —————————————————————————————————————————— -->
		<%= render(:partial => 'shared/menu') %>

		<!-- featured products  ———————————————————————————— -->
		<%= render(:partial => 'shared/featuredProducts') %>
		
	</div><!-- end of div 'left_column' -->

	<div id="center_column">
		<div id="devise_generated_content">
			<p>Welcome <%= @resource.email %>!</p>

			<p>You can confirm your account through the link below:</p>

			<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

		</div> <!-- end div#devise_generated_content -->
	</div> <!-- end div#center_column -->

<% end %> <!-- end :content_for middleBand -->