
<!-- body includes  ————————————————————————————————————————————————————  -->
<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
	<div id="container">
		<div id="subcontainer">

			<!-- menu —————————————————————————————————————————————————————  -->

			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				<%= render(:partial => "/shared/menu_popups") %>
				
				<div id="devise_generated_content">
					<p>Hello <%= @resource.email %>!</p>

					<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

					<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

					<p>If you didn't request this, please ignore this email.</p>
					<p>Your password won't change until you access the link above and create a new one.</p>

				</div> <!-- end div#devise_generated_content -->

			</div> <!-- end div#main_content -->
		</div> <!-- end div#subcontainer -->
	</div> <!-- end div#container -->
<% end %>