<%= content_for(:header) do %>
	<style type="text/css">
		div#devise_generated_content form { margin-bottom:20px; } 
		div#devise_generated_content a { color:orange; }
		div#devise_generated_content input {margin-bottom:10px;}
		div#center_column { /* override default layout */
			padding-left:40px; 
			padding-top:0px;
			}
		div#center_column div#devise_generated_content h2 { 
			background-color: orange;
			color:white;
			padding: 5px 10px 10px 10px;
			width: 155px;
		}
		div#center_column div#devise_generated_content hr { 
			width:94%;
			float:left;
			margin-top:-11px;
			padding-top:0px;
		}
	</style>
<% end %>


<!-- middleBand includes  ———————————————————————————————————————————————  -->

<%= content_for(:middleBand) do %>

	<div id="left_column" >

		<!-- menu —————————————————————————————————————————— -->
		<%= render(:partial => 'shared/menu') %>

		<!-- featured products  ———————————————————————————— -->
		<%= render(:partial => 'shared/featuredProducts') %>
		
	</div><!-- end of div 'left_column' -->

	<div id="center_column">
				
		<!-- menu popups: top level categories ——————————————————————————————————— -->
		<%= render(:partial => "/shared/menu_popups") %>
		
		<div id="devise_generated_content">
			<p>Hello <%= @resource.email %>!</p>

			<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

			<p>Click the link below to unlock your account:</p>

			<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

		</div> <!-- end div#devise_generated_content -->

	</div> <!-- end div#center_columnm -->
<% end %>