<!-- ————————————————————————————————————————————————————————————————
		Controller: Products
		Action: Show 
		
		to fix:
			1. table:  text: align top; fix by inserting an intro line into 
					long descriptions in product_1229.xls that begin with a <ul>
			2. description: sanitize so that it picks up html markup [DONE]
			3. left/right columns on layout not working:  They do if product image is 169px wide
			4. buttons: orange as in product_types.html.erb [DONE]
		error	
			5. products/473 (from metasearch when type in sammons # 4454) is getting an 'undefined method 'ancestors' for nil:NilClass — it does not have an @category value. Why not? products/show seems to be setting it up.  The problem is that the category_id field is set only for products of type SimpleProduct that are not related to a BaseProduct or ProductType so that only these products will show up when you go from a leaf-category to the list of producttypes/productsets/baseproducts/products in that leaf-category. The left-menu based search will never generate a call to products/show for a simple-product that is part of the product-set associated with a base-product.  But the sammons search can. Could I go from the simple product that the sammons search returns to the base-product or product-type it is related to? and then call base_products/show rather than products/show? e.g., if base_product_id is non-null.    
			
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Products </title> 
	
	<!-- Reenable this once have the basic display of product fields working  									
	<%# javascript_include_tag "galleria-1.2.4.min.js" %>
	<%# javascript_include_tag "zoom_and_mega_zoom.js" %>
-->


	<script type="text/javascript" >

		$(document).ready(function() {	
			$("#body-background").ezBgResize();
			$("#body-background").css("background-color","#E6E6E6");				
			checkSize();
			$("#addToCart").click(function(){
				addtocart();
				return false;
			});
		});
		
		function addtocart()
		{
			alert("Adding items to cart. Click OK to continue.")

			var multi = '';
			$("input[id*=qty_]").each(function()
			{
				if($(this).val()!="")
				{
					if(parseInt($(this).val())>0)
					{
						var itemid = $(this).attr('id').replace('qty_','');
						var itemqty = $(this).val();
						multi+=itemid+','+itemqty+';';
					}
				}
			});
			$("input[id*=qty_]").each(function()
			{
				$(this).val('');
			});

			var accountid = "1114349"; //Netsuite account id
		    //add to cart url
			var myurl = 'http://shopping.netsuite.com/app/site/backend/additemtocart.nl?multi='+multi+'&c='+accountid+'&qtyadd=1&buyid=multi';		     
		    //create hidden iframe in body
		    $('body').append('<iframe id="addtocartframe" style="display:none" />'); 
		    //change src to iframe
		    $('#addtocartframe').attr('src', myurl);
		    return false;
		}
	</script>

	<style type="text/css">
		div#product_div { margin-top:20px; margin-bottom:15px;}
		div.left { float:left; padding:20px;}
		div.right {}
		/* div.picture { margin-bottom:15px;}*/

		#addToCart, #checkOut {
			background-color:orange; 
			color:white; 
			font-size:12px; 
			padding-top:6px; padding-bottom:6px; 
			border:none;
			}
			h2 { color:orange; font-size:14px; font-weight:bold}
			
	</style>



<% end %>


<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
    
	<!-- container —————————————————————————————————————————————————————————————————— -->

	<div id="container">
		<div id="black_screen"></div> 

	  <!-- subcontainer —————————————————————————————————————————————————————— -->

		<div id="subcontainer">
		
			<!-- menu —————————————————————————————————————————————————————  -->
		
			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				
				<!-- breadcrumb trail ——————————————————————————————————————————————— -->
				<!-- removed for now because product pages being shown from sammons search may not have a category_id
				<%# render :partial => "/shared/breadcrumb" %>
			-->
			
				<!-- error messages —————————————————————————————————————————————————————— -->
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>
				
				<!-- menu popups: top level categories ——————————————————————————————————— -->
				
				<%= render(:partial => "/shared/menu_popups") %>

	      <!-- product ———————————————————————————————————————————————————————————— -->

				<div id="product_div">
			
					<!-- left column: image, zoom, [ alternate images if any ... ] ———————— -->
				
					<div class="left">

						<div class="picture">
							<!-- change to large picture --> 
							<%= image_tag("/images/products/all_large/" + @product.image_filename[0,6] + "-000" + ".jpg") %>
							<!-- 
							<%# image_tag("/images/products/modalities_large/" + @product.image_filename[0,6] + "-000" + ".jpg", :size => "169x179") %>
						-->
						</div>
			
						<div class="clear"></div>
					</div> <!-- end of div.left --> 
				
				
					<!-- right column: description of this product  ——————————————————————— -->
				
					<div class="right">

						<table cellspacing="10">
							<col />
							<col />

							<th></th>
							<th></th>
							<tr>
								<td>name:</td>			
								<td><%= sanitize(@product.name) %></td>
							</tr>
							<tr>
								<td>tms part number:</td>			
								<td><%= @product.tms_part_no %></td>
							</tr>
							<tr>
								<td>category:</td>
								<!-- products returned by sammon search might not have category_id if they are part of a base-product -->
								<td><%= @product.category.name unless @product.base_product_id %></td>
							</tr>
							<tr>
								<td valign="top">description:</td>
								<td><%= sanitize(@product.long_description) %></td>
							</tr>
						
							<tr>
								<td>price:</td>
								<td><%= number_to_currency(@product.price_clinic_list) %></td>
							</tr>
							<tr>
								<td>quantity:</td>
								<td style="padding-top:0px;"><input class="ui-corner-all" id="qty_<%= @product.netsuite_item_no %>" style="width:30px;" type="text"></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="addToCart" class="ui-corner-all">ADD TO CART</button></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button id="checkOut" class="ui-corner-all"><a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=4&n=1" style="color:white; text-decoration:n;one">CHECK OUT</a>
									</button>
								</td>
				
			
						</table>
					
					</div><!-- end div.right -->
					<div class="clear"></div>
				
				</div> <!-- end div#product_div -->

			</div> <!-- end div#main_content -->

		</div><!-- end div#subcontainer -->


		<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->

		<div id="right_content_container">
	    <%= render(:partial => 'shared/rightContent') %>	       
		</div>

		<div id="forScrollTop" class="clear"></div>  <!-- debug: purpose?? -->

	</div><!-- end div#container -->


	<!-- logo_container ——————————————————————————————————————————————————————————————— -->

	<div id="logo_container">
		<a href="/en" id="logo" title="home page" name="logo">home page</a>
	</div>

<% end %>

