<!-- ————————————————————————————————————————————————————————————————
		Controller: Products
		Action: Show 
————————————————————————————————————————————————————————————————————— -->

<%= content_for(:header) do %>

	<title>TruMedical Solutions | Products </title> 
	
	<!-- Reenable this once have the basic display of product fields working  									
	<%# javascript_include_tag "galleria-1.2.4.min.js" %>
	<%# javascript_include_tag "zoom_and_mega_zoom.js" %>
-->

	<script type="text/javascript" >

		$(document).ready(function() {	
				$("#body-background").ezBgResize();
				$("#body-background").css("background-color","#E6E6E6");				
				checkSize();
			
			});
		
	</script>

	<style type="text/css">
		div.left { float:left; }
		div.right { }
		#products table {
		    width: 200px;
			}
		#products td span {
		    background-color: #FFF;
			}
		#products td.name:before {
		    clip: rect(0px, 190px, 20px, 0px);
		    content: " ............................................................ ";
		    position: absolute;
		    z-index: -1;
			}
		#products td.price {
		    text-align: right;
			}
	</style>



<% end %>


<%= content_for(:body) do %>

	<div id="body-background">	
		<!-- <img src="../images/landscapes/road_aero.jpg" width="1354" height="900" alt="Bg"> -->
	</div>
    
	<!-- container —————————————————————————————————————————————————————————————————— -->

	<div id="container">
		<div id="black_screen"></div> <!-- used here?  drop from category#display also? -->

	  <!-- subcontainer —————————————————————————————————————————————————————— -->

		<div id="subcontainer">
		
			<!-- menu —————————————————————————————————————————————————————  -->
		
			<%= render :partial => 'shared/menu' %>
			<%= render :partial => 'shared/search' %>

	    <!-- main content —————————————————————————————————————————————— -->

			<div id="main_content">
				<div id="breadcrumb">
					<!-- generate this: use acts_as_tree().reverse as in RailsCast 262 -->
					<div style="float:left">
						<b><%= link_to("Home Page",{ :controller => 'home',:action =>'index'} ) %></b><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
							<!-- <a href="/home/index">Home Page</a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp; -->
					</div>
					<div style="float:left">
						<b><a href="#url"><%= @category.parent.parent.name %></a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
					</div>
					<div style="float:left">
						<b><a href="#url"><%= @category.parent.name %></a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
					</div>
					<div style="float:left">
						<b><a href="#url"><%= @category.name %></a></b>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
					</div>
					<div style="float:left">
						<b><a href="#url"><%= sanitize(@product.name) %></a></b>
					</div>
				</div>
			
				<div id="error-messages" style="display:none">
					<div class="messages error"></div>
				</div>

	      <!-- product ———————————————————————————————————————————————————————————— -->

				<div id="product_div">
			
					<!-- left column: image, zoom, [ alternate images if any ... ] ———————— -->
				
					<div class="left">

						<div class="picture">
							<%= image_tag("/images/products/all_medium/" + @product.image_filename[0,6] + "-000" + ".jpg", :size => "169x179") %>

						</div>
			
						<div class="clear"></div>
					</div> <!-- end of div.left --> 
				
				
					<!-- right column: description of this product  ——————————————————————— -->
				
					<div class="right">

						<table cellspacing="10">
							<col />
							<col />

							<th></th>
							<th></th>
							<tr>
								<td>name:</td>			
								<td><%= sanitize(@product.name) %></td>
							</tr>
							<tr>
								<td>tms part number:</td>			
								<td><%= @product.tms_part_no %></td>
							</tr>
							<tr>
								<td>category:</td>
								<td><%= @product.category.name %></td>
							</tr>
							<tr>
								<td>description:</td>
								<td><%= @product.description %></td>
							</tr>
						
							<tr>
								<td>price:</td>
								<td><%= number_to_currency(@product.price_clinic_list) %></td>
							</tr>
							<tr>
								<td>quantity:</td>
								<td style="padding-top:0px;"><input class="ui-corner-all" id="qty_<%= @product.netsuite_item_no %>" style="width:30px;" type="text"></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="addToCart" class="ui-corner-all">ADD TO CART</button></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="checkOut" class="ui-corner-all"><a href="https://checkout.netsuite.com/s.nl?c=3352985&sc=4&n=1" style="color:white; text-decoration:n;one">CHECK OUT</a></button></td>
							</tr>
			
						</table>
					
					</div><!-- end div.right -->
					<div class="clear"></div>
				
				</div> <!-- end div#product_div -->

			</div> <!-- end div#main_content -->

		</div><!-- end div#subcontainer -->


		<!-- RIGHT CONTENT ————————————————————————————————————————————————————— -->

		<div id="right_content_container">
	    <%= render(:partial => 'shared/rightContent') %>	       
		</div>

		<div id="forScrollTop" class="clear"></div>  <!-- debug: purpose?? -->

	</div><!-- end div#container -->


	<!-- logo_container ——————————————————————————————————————————————————————————————— -->

	<div id="logo_container">
		<a href="/en" id="logo" title="home page" name="logo">home page</a>
	</div>

<% end %>

