<!DOCTYPE HTML>
<html>
	<head>
		<!--  ————————————————————————————————————————————————————————————————
		
		Layout: application.html.erb
	
		Doc: layout template applied to all files in the site
	
		——————————————————————————————————————————————————————————————————————
	
		ToDo:
			1. get search by competitors part number working. Remove metasearch and use simple SQL call in products#index:
			   @product = Product.where("sammons-part-no LIKE?", "%#{params[:search]}%")
			Would this avoid doing a database call on each load of the home page?
			2. Reinstate a logdiv for TruMedical? unclear how/when logo div moves around the window
		
		Known Bugs:	
			1. metawhere/metasearch causing a problem
		  ..  
		-->
		
		<meta name="google-site-verification"
		      content="DRniLxcdbLu-qb5STdNUxZI97IojXccx5-6mijdIhjI" />
	  	<title>TruMedical Solutions</title>
	
		<%= stylesheet_link_tag "custom-theme/jquery-ui-1.8.10.custom.css" %>
		<!-- <%# stylesheet_link_tag "ui-lightness/jquery-ui-1.8.18.custom.css" %> -->	
    <%= stylesheet_link_tag "trumedical_base.css" %>
		<%= stylesheet_link_tag "search.css" %> 
		<%= stylesheet_link_tag "menu.css" %> 
    <%= stylesheet_link_tag "tabs.css" %>
    	<!-- <%# stylesheet_link_tag "jquery_tools_tabs_no_images.css" %> unused; used by Mavic tabbed sibling nav; not in /public/javascripts -->
		<%= stylesheet_link_tag "left_nav_popups_test.css" %> <!-- added by TA 1/4/2012; controls top alignment of popups for menu items -->
		<%= stylesheet_link_tag "simple_form.css" %>
		<%= stylesheet_link_tag "tipTip.css" %>
		
		<!-- standard js files -->
		<%= javascript_include_tag "jquery-1.4.4.min.js" %>
		<!-- <%# javascript_include_tag "jquery-ui-1.8.10.custom.min.js" %> -->
		<%= javascript_include_tag "jquery-ui-1.8.18.custom.min.js" %>
		<%= javascript_include_tag "jQuery_Tools.1.2.3.scrollable.js" %> 
		<!-- <%# javascript_include_tag :defaults %> <!-- included because StackOverflow response to sign_out delete problem; causing other problems: attempts to link prototype libraries -->	
		<%= javascript_include_tag "jquery.tipTip.js" %>	
		<%= javascript_include_tag "ezMark.js" %> <!-- needed on home page; why? -->
		

		<!--  csrf_meta_tag %> -->
		

		<!-- replace the following line with a Rails macro ? -->
		<link href="../images/favicon.ico" rel="shortcut icon">
	
		<!-- for tool tips used to explain shipped-by and assembly-required icons -->
		<script type="text/javascript" >
			$(document).ready(function() {
				$(".withToolTip").tipTip(
					{maxWidth: "auto", defaultPosition: "top",delay: 400});	
				});
		</script>
		<style type="text/css">
			#tiptip_content { background-color: gainsboro; color:white; }
		</style>	
	
			<!-- avoid flash of unstyled content when browser paints popup overlays for top level categories
				and then closes them -->
			<script type="text/css">
				.popup_base { display:none;} /* or do I have to set visibility? */
			</script>
			
		<!-- styles for stuff in header -->
		
		<!-- styles for stuff in footer -->
		<style type="text/css">
			div#contactUs, div#privacyPolicy, div#requestCatelog { display:none; padding-bottom:40px; padding-top:20px; }
			div#contactUs h2, div#privacyPolicy h2, div#requestCatelog h2 { font-size:12px; font-weight:bold; margin-bottom:10px; margin-top:20px; }
			div#contactUs p, div#privacyPolicy p, div#requestCatelog p {font-size:11px; line-height:14px; margin-bottom:10px;}
			div#contactUs p { font-size:12px;} /* Bill wanted it larger */
			div#privacyPolicy dl { margin-left:11px; font-size:11px; line-height:13px;}
			div#privacyPolicy dt { font-weight:bold;}
			div#privacyPolicy dd { font-weight:normal; margin-left:10px;}
			div#catelogImage { border: 1px solid gray;}	
					
			/* ---- metasearch related ---------------------  */
			div#metasearch { display:inline; margin-right:20px;}	
			div#metasearch form { display:inline;}
			div#metasearch form label { color:white; display:inline;}	
			div#metasearch form input[type="text"] {
				display:inline;
				width:140px; 
				color:black;
				border:none!important;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				}
			div#metasearch form input[type="submit"] {
					display:inline;
					font-size:10px!important;
					background-color: white!important;
					font-family: inherit;
					color: black;
					text-shadow: none!important; /* legal value? or just ignored? */
					border:none!important;
					border-radius: 2px;
					-moz-border-radius: 2px;
					-webkit-border-radius: 2px;
					width:20px;
				}
		</style>
		<!-- for animated TruMedical LogoMark --> 
		<style type="text/css"> 
			#middleBand { min-height:680px; } /* for logo animation; no longer used */
		</style>
		
		<!-- interim hack to allow manual closing of popup top level category windows -->
		<style type="text/css">
				div.subcategories img.close {position:absolute; top:0px; right:-10px; opacity:0.5; }
				div.leafCategories img.close {position:absolute; top:0px; right:-10px; opacity:0.5; }
				div.popup_base img.close {position:absolute; top:10px; right:10px; opacity:0.5; }		
		</style>
		
		<script type="text/javascript">

			$(document).ready(function(){
				
				$("div#footer").css( { "left": $("div#container").offset().left, "width": $("div#container").css("width") });
				/* reset footer left on window resize events */
				$(window).resize(function(){
					$("#footer").css({"left": $("#container").offset().left}); /* reset footer left  */
					$("#container").css({"height": $("window").height()}); /* make container as deep as the window */
				});
				
				$("div#contactUs").dialog( { autoOpen:false, modal:true, position:[360,60], width:610, minHeight:200, title:"Contact Us" });
				$("div#privacyPolicy").dialog( { autoOpen:false, modal:true, position:[360,60], width:610, minHeight:200, title: "Privacy Policy" });
				
				$("div#requestCatelog").dialog( { autoOpen:false, modal:true, position:[360,60], width:610, minHeight:200, title:"Request a Catelog" })
			
				$("a[href='#contactUs']").click(function(){
					$("div#contactUs").dialog('open');
					return false;
				});
				$("a[href='#privacyPolicy']").click(function(){
					$("div#privacyPolicy").dialog('open');
					return false;
				});
			
				$("a[href='#requestCatelog']").click(function(){
					$("div#requestCatelog").dialog('open');
					return false;
				});
			
				$("div#tabs").tabs(); /* initialize tabs within privacyPolicy. NOT WORKING?  */
				
				$("a[href='#url']").click(function(){
					alert("As-yet-unimplemented link.");
					return false;
				});
				$("a[href='#Netsuite']").click(function(){
					alert("This link will take you to one of the pages implemented in Netsuite's secure server.");
					return false;
				});


			});
		</script>
		

		
		<!--  jQuery to support popup menu for product categories  -->
			<script type="text/javascript">

				$(document).ready(function(){

					$(".popup_base").hide();
					$("#black_screen").hide();

					$("#modalities").mouseover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_modalities").show();
						return false; /* combines stopPropagation() and preventDefault()  */
					});

					$("#clinicalSupplies").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_clinicalSupplies").show();
						return false;
					})
					$("#tables").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_tables").show();
						return false;
					})
					$("#fitness").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_fitness").show();
						return false;
					})
					$("#orthopedics").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_orthopedics").show();
						return false;
					})
					$("#taping").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_taping").show();
						return false;
					})
					$("#evaluation").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_evaluation").show();
						return false;
					})
					$("#dailyLiving").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_dailyLiving").show();
						return false;
					})
					$("#lymphedema").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_lymphedema").show(); 
						return false;
					})
					$("#woundCare").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_woundCare").show();
						return false;
					})
					/* the following four are used only on the home page */
					
					$("#trumedical").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_trumedical").show();
						return false;
					})

					$("#patients").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_patients").show();
						return false;
					})

					$("#providers").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_providers").show();
						return false;
					})

					$("#payors").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_payors").show();
						return false;
					})
		
					$("img.close").click(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").hide();  
						return false;
					})
					
					$(".popup_base").mouseleave(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").fadeOut(1000); 
						return false;
					})
				
				});
			</script>

			<script type ="text/javascript">
				$(document).ready(function(){
					/* If mouseover a subcategory block within one of the popup windows, 
					the background of the entire block turns orange. 
					But because top 80px of 120x120 block is covered by 120x80px image, it looks
					like it is just the bottom 40px that turns orange.  
					*/
					$(".subcategory").mouseenter(function(){
						$(this).css("background-color","orange");
					});
					$(".subcategory").mouseleave(function(){
						$(this).css("background-color","#E6E6E6");
					});
					/* If click anywhere on this subcategory div, link to subcategory landing page. 
						How get correct subcategory? 
						Currently using an href within the subcategory div, using Rails to insert the target url. 
						Is there an entirely Rails answer — using a link_to(content_tag ... ? 
					*/
					/*
					$(".subcategory").click(function(){
							window.location.href="http://localhost:3000/categories/2" 
							return false;
					});
					*/

				});

			</script>
		
		<!-- for Google analytics —————————————————— -->

		
		<%= yield :header %>

	
	</head>
	<body id="body">
		<div id="container" class="home" >

			<div id="black_screen"></div>

			<!-- header links  ————————————————————————————————————————————————————————— -->
			<div id="header">
				<div id="register_login">
					<ul>
							<!-- <li><#= link_to "Home   ", home_index_path %> </li> -->
						<% if user_signed_in? %>
							<li>
								<span style="color:orange";>Signed in as <%= current_user.email %>. Not you?&nbsp; </span>
								<%= link_to "Sign out", destroy_user_session_path %>
							</li>
							<li>
								<%= link_to "My Account", edit_user_registration_path %>
							</li>
						<% else %>
							<li>
								<%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign in",  new_user_session_path %>
							</li>		
						<% end %>
						<li><a href="http://www.tru-logic.com/s.nl/sc.3/.f">View Cart</a></li>
						<li><a href="https://checkout.netsuite.com/s.nl/c.1114349/sc.4/.f">Checkout</a></li>
					</ul>
				</div>
						<!--
						<li><a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=6&login=T&reset=T&newcust=T&noopt=T">register</a></li>
						<li><a href="https://checkout.netsuite.com/s.nl/c.1114349/sc.6/.f?login=T&reset=T">login</a></li>
						-->
			</div> <!-- end of div 'header' -->
			
			<div id="middleBand">
				
				<!-- place on individual page templates instead ( don't want it on home page ) 
				<div id="logo">
					<#= image_tag("logos/logo_on_white_315.png") %>
				</div>
				--> 
					
				<!-- divs for popup dialogs     ———————————————————————————————————— -->		
				<%= render(:partial => '/shared/popup_footer_dialogs') %>
				
			
				<!-- divs within middleBand unique to particular page templates ———— -->		
				<%= yield :middleBand %>
				
			</div> <!-- end div 'middleBand' -->
  
			<!-- footer     ————————————————————————————————————————————————————————————— -->
		
			<div id="footer" >

				<div id="footer_left"> <!-- div used only to center contents within footer -->
					<a href="#requestCatelog">Request a Catalog</a> 
				
					<!-- search by competitor part no ——————————————————————————————— -->
					<!-- commented out because when used with devise register/login users/registration gets an error
						when it attempts to generate a link to { :controller => 'devise/products', :action => 'search' } 
						rather than { :controller => 'products', :action => 'search'} 
					-->
					<%= render :partial => '/shared/metasearch' %>

					<a href="#contactUs">Contact Us</a> 
					<a href="#privacyPolicy">Privacy Policy</a> 
					<!-- <a href="#">FAQs</a> -->
				
					<span style="color:white;">Find us on:</span> 
					<a href="http://www.facebook.com/trumedical"><img src="../images/footer/facebook.png" width="16" height="16" alt="">&nbsp;Facebook</a> 
					<a href="http://twitter.com/trumedical"><img src="../images/footer/twitter.png" width="16" height="16" alt="">&nbsp;Twitter</a>
					<!-- <a>&copy;TruMedical Solutions LLC, 2011</a> -->
				</div>	
			
			</div> <!-- end div 'footer' -->
		
		</end> <!-- end div 'container -->	
		
		<%= yield :js_before_close_of_body %> 
		
	</body>
</html>

