<!DOCTYPE HTML>
<html>
	<head>
		<!--  ————————————————————————————————————————————————————————————————
		
		Layout: application.html.erb
	
		Doc: layout template applied to all files in the site
	
		——————————————————————————————————————————————————————————————————————
	
		ToDo:
			3. get search working: masking Google generated field 
	
	
		Known Bugs:	
			1. in style.css footer is position:relative,  footer class="home_footer" is position:absolute (but without any top or bottom properties). Either make footer content a partial and put it into separate views for home#index, category#display and product#display that have the correct position declarations built into them, or make it position:relative in this template, and change it to position:absolute for home page within jQuery document-ready. 
		
		Unknowns:

			3. unclear how/when logo div moves around the window
			4. set of float declarations that lets right_content move over to the left below menu when 
				the window is too small for it to appear on the right, is currently a mystery to me.
			5. Should /shared/_menu.html.erb be included in individual templates:  home, category, product, company — rather than being included in application.html.erb?  div 'subcontainer' binds the menu and content in the main-content area together. ..  
		-->
		
		<meta name="google-site-verification" content="DRniLxcdbLu-qb5STdNUxZI97IojXccx5-6mijdIhjI" />
	  	<title>TruMedical Solutions</title>

		
	
	
		<%= stylesheet_link_tag "custom-theme/jquery-ui-1.8.10.custom.css" %>
		
    	<%= stylesheet_link_tag "trumedical_base.css" %>
		<%= stylesheet_link_tag "search.css" %> 
		<%= stylesheet_link_tag "menu.css" %> 
    	<%= stylesheet_link_tag "tabs.css" %>
    	<!-- <%# stylesheet_link_tag "jquery_tools_tabs_no_images.css" %> unused; used by Mavic tabbed sibling nav; not in /public/javascripts -->
		<%= stylesheet_link_tag "left_nav_popups.css" %> <!-- added by TA 1/4/2012 -->
	
		
		<!-- standard js files -->
		
		<%= javascript_include_tag "jquery-1.4.4.min.js" %>
		<%= javascript_include_tag "jquery-ui-1.8.10.custom.min.js" %>
		<%= javascript_include_tag "jQuery_Tools.1.2.3.scrollable.js" %> 
		
		<!-- additional js files lumped into mavic.js -->
		<!-- <%# javascript_include_tag "Cufon.js" %> -->
		<%= javascript_include_tag "ezMark.js" %> <!-- needed on home page; why? -->
		<!-- <%# javascript_include_tag "jq.ezBgResize.js" %> -->
		<!-- <%# javascript_include_tag "jq_cookie.js" %> -->
		<!-- <%# javascript_include_tag "parsed_query_string.js" %> -->
		<!-- <%# javascript_include_tag "homepage_functions.js" %> -->
		<!-- <%# javascript_include_tag "product_compare.js" %> -->
		<!-- <%# javascript_include_tag "zoom_and_mega_zoom.js" %> -->
		
		<!-- what was left in mavic.js after stripping out the above, 3rd-party developed js libraries 
			   most of this may be in misc.js 
				It includes the code for showing the modal overlay black_screen -->
		<!-- <%= javascript_include_tag "mavic_only.js" %> -->

		<!--  csrf_meta_tag %> -->
		

		<!-- replace the following line with a Rails macro ? -->
		<link href="../images/favicon.ico" rel="shortcut icon">

		
		<!-- styles for stuff in header: register/login; view-cart checkout -->
		<style type="text/css">
			div#register_login { position:absolute; top:20px; right:30px; z-index:98; color:orange;font-size:12px;}
			div#register_login a { color:orange; font-weight:bold; font-size:12px; } 
		</style>
		
		<!-- styles for stuff in footer -->
		<style type="text/css">
			div#contactUs, div#privacyPolicy, div#requestCatelog { display:none; padding-bottom:40px; padding-top:20px; margin-right:20px;}
			div#contactUs h2, div#privacyPolicy h2, div#requestCatelog h2 { font-size:10px; font-weight:bold; margin-bottom: -10px; }
			div#contactUs p, div#privacyPolicy p, div#requestCatelog p {font-size:10px; line-height:13px;}
			div#privacyPolicy dl { margin-left:10px; font-size:9px; line-height:12px;}
			div#privacyPolicy dt { font-weight:bold;}
			div#privacyPolicy dd { font-weight:normal; margin-left:10px;}
			div#catelogImage { border: 1px solid gray;}
			
			/* for interim hack to allow manual closing of popups from level menu; */
			div.subcategories img.close {position:absolute; top:0px; right:-10px; opacity:0.5; }
			div.leafCategories img.close {position:absolute; top:0px; right:-10px; opacity:0.5; }
			div.popup_base img.close {position:absolute; top:10px; right:10px; opacity:0.5; }
		
		</style>
		<!-- styles associated with competitor cross reference in footer bar -->
		<style type="text/css">
			div#metasearch { display:inline; margin-right:20px;}	
			div#metasearch form { display:inline;}
			div#metasearch form label { color:white; display:inline;}	
			div#metasearch form input[type="text"] {
				display:inline;
				width:140px; 
				color:black;
				border:none!important;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				}
			div#metasearch form input[type="submit"] {
					display:inline;
					font-size:10px!important;
					background-color: white!important;
					font-family: inherit;
					color: black;
					text-shadow: none!important; /* legal value? or just ignored? */
					border:none!important;
					border-radius: 2px;
					-moz-border-radius: 2px;
					-webkit-border-radius: 2px;
					width:20px;
				} 
		</style>
		
		<script type="text/javascript">

			$(document).ready(function(){
				$("div#contactUs").dialog( { autoOpen:false, modal:true, position:[260,60], width:560, minHeight:200, title:"Contact Us" })
				$("div#privacyPolicy").dialog( { autoOpen:false, modal:true, position:[260,60], width:800, minHeight:200, title: "Privacy Policy" })
				$("div#requestCatelog").dialog( { autoOpen:false, modal:true, position:[260,60], width:560, minHeight:200, title:"Request a Catelog" })
				
				$("a[href='#contactUs']").click(function(){
					$("div#contactUs").dialog('open');
					return false;
				});
				$("a[href='#privacyPolicy']").click(function(){
					$("div#privacyPolicy").dialog('open');
					return false;
				});
				$("a[href='#requestCatelog']").click(function(){
					$("div#requestCatelog").dialog('open');
					return false;
				});

				$("a[href='#url']").click(function(){
					alert("As-yet-unimplemented link.");
					return false;
				});
				$("a[href='#Netsuite']").click(function(){
					alert("This link will take you to one of the pages implemented in Netsuite's secure server.");
					return false;
				});


			});
		</script>
		
		<!--  jQuery to support popup menu for non-product categories so far -->
			<script type="text/javascript">

				$(document).ready(function(){

					$(".popup_base").hide();
					$("#black_screen").hide();

					$("#modalities").mouseover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_modalities").show();
						return false; /* combines stopPropagation() and preventDefault()  */
					});

					$("#clinicalSupplies").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_clinicalSupplies").show();
						return false;
					})
					$("#tables").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_tables").show();
						return false;
					})
					$("#fitness").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_fitness").show();
						return false;
					})
					$("#orthopedics").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_orthopedics").show();
						return false;
					})
					$("#taping").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_taping").show();
						return false;
					})
					$("#evaluation").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_evaluation").show();
						return false;
					})
					$("#dailyLiving").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_dailyLiving").show();
						return false;
					})
					$("#lymphedema").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_lymphedema").show(); /* DEBUG: Why is this one coming up with no content */
						return false;
					})
					$("#woundCare").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_woundCare").show();
						return false;
					})
					/* the following four are used only on the home page */
					
					$("#trumedical").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_trumedical").show();
						return false;
					})

					$("#patients").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_patients").show();
						return false;
					})

					$("#providers").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_providers").show();
						return false;
					})

					$("#payors").hover(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_payors").show();
						return false;
					})
		
					$("img.close").click(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").hide();  
						return false;
					})
				
				});
			</script>

			<script type ="text/javascript">
				$(document).ready(function(){
					/* If mouseover a subcategory block within one of the popup windows, 
					the background of the entire block turns orange. 
					But because top 80px of 120x120 block is covered by 120x80px image, it looks
					like it is just the bottom 40px that turns orange.  
					*/
					$(".subcategory").mouseenter(function(){
						$(this).css("background-color","orange");
					});
					$(".subcategory").mouseleave(function(){
						$(this).css("background-color","#E6E6E6");
					});
					/* If click anywhere on this subcategory div, link to subcategory landing page. 
						How get correct subcategory? 
						Currently using an href within the subcategory div, using Rails to insert the target url. 
						Is there an entirely Rails answer — using a link_to(content_tag ... ? 
					*/
					/*
					$(".subcategory").click(function(){
							window.location.href="http://localhost:3000/categories/2" 
							return false;
					});
					*/

				});

			</script>
		
		<!-- for Google analytics —————————————————— -->

		
		<%= yield :header %>

	
	</head>
	<body id="body">
		
		<!-- flash messages needed by active admin -->
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<!-- header links  ————————————————————————————————————————————————————————— -->
		<div id="register_login">
			<% if user_signed_in? %>
				<span style="color:black";>Signed in as <%= current_user.email %>. Not you? </span>
				<%= link_to "Sign out", destroy_user_session_path %>
			<% else %>
				<%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</div>
			
		<div id="cart_links">
			<ul>
				<!--
				<li><a href="https://checkout.netsuite.com/s.nl?c=1114349&sc=6&login=T&reset=T&newcust=T&noopt=T">register</a></li>
				<li><a href="https://checkout.netsuite.com/s.nl/c.1114349/sc.6/.f?login=T&reset=T">login</a></li>
				-->
				<li><a href="http://www.tru-logic.com/s.nl/sc.3/.f">View Cart</a></li>
				<li><a href="https://checkout.netsuite.com/s.nl/c.1114349/sc.4/.f">Checkout</a></li>
			</ul>
		</div>
	
		<!--
		<form id="search_form" action="/en/search/google_cse_adv" method="post" name="search_form">
			<script type="text/javascript" src="http://www.google.com/jsapi">
</script> <script type="text/javascript">
google.load('search', '1');
			google.setOnLoadCallback(function() {
			google.search.CustomSearchControl.attachAutoCompletion(
			'014338948727438158850:bsnpnwdxyvo',
			document.getElementById('search_input'),
			'search_form');
			});
			</script>
			<div id="search_wrapper">
				<h1 id="search_hint" class="helvetica">
					search...
				</h1><input class="" id="search_input" type="text" name="keys" value="" maxlength="30" autocomplete="off">
			</div><a class="submit" href="javascript:%20document.getElementById('search_form').submit();">OK</a> <input type="hidden" value="06415a73d2d0183ccd41f0ee4eec874e" name="form_token"> <input type="hidden" value="search_form" id="edit-search-form" name="form_id">
			<div class="clear" style=""></div>
		</form>
	-->
	
		<!-- divs for popup dialogs     ————————————————————————————————————————————— -->
	
		
		<!-- contact us ——————————————————————————————— -->
		<div id='contactUs'>
			<p>You may reach us by Mail, Phone, Fax, E-Mail, or the web at: </p>
			
			<h2>By Mail:</h2>
			<p>
				TruMedical Solutions, LLC.</br>
				PO Box 1869</br>
				Collegedale, TN 37315
			</p>
			
			<h2>By Phone:</h2>
			<p>
				877-882-7844</br>
				423-910-0121
			</p>
			
			<h2>By Fax:</h2>
			<p>
				877-882-7845</br>
				423-910-0121
			</p>
	
			<h2>E-Mail:</h2>
			<p>
				<a href="sales@tru-medical.com">sales@tru-medical.com</a>
				<a href="info@tru-medical.com">info@tru-medical.com</a>
				<a href="customerservice@tru-medical.com">customerservice@tru-medical.com</a>
			</p>
			
			<h2>By Web:</h2>
			<p>
				<a href="www.tru-medical.com">www.tru-medical.com</a>
			</p>
			
			<p>If you prefer to email in your question, feedback or anything else, you can use the form below and someone will get back to you within 24 hours or less.  We look forward to hearing from you!
			</p>
			<p>[ INSERT FORM HERE ] </p>
			<h2>Hours of Operation</h2>
			<p>Monday thru Friday 8:30AM to 6:00PM EST</p>
		</div>
		
		<!-- privacy policy ——————————————————————————————— -->
		<div id='privacyPolicy'>
			<h2>This website takes every precaution to protect our users' information.</h2>
			<p>Our entire site, including but not limited to areas where we ask users to enter sensitive information (such as credit card or bank account numbers) is encrypted and is protected by an advanced 128-bit encryption software protocol – SSL.</p>

			<p>While we use SSL encryption to protect sensitive information online, we also take steps to protect user-information off-line. Only employees who need the information to perform a specific task are granted access to any personally identifiable information.</p>

			<p>TruMedical Solutions, LLC.  places the utmost importance on protecting information transmitted via our website and takes security precautions to protect all such information from loss, misuse, and alteration. These precautions are regularly reviewed and enhanced as part of TruMedical Solutions’ ongoing commitment to customer security and privacy.</p>

			<p>If you have any questions about the security at our website, please e-mail us at: <%= mail_to "websupport@tru-medical.com",nil, :subject => "privacy policy" %>.</p>


			<p>TruMedical Solutions, LLC.  reserves the right to alter this policy at any time. Changes will be posted immediately on our website.</p>

			<h2>Privacy Policy</h2>
			<p>At TruMedical Solutions we respect your privacy. Whether you request a catalog, place an on-line order, or e-mail us, your personal information is handled with your privacy and security in mind.</p> 

			<h2>Information Collection and Use</h2>
			<p>TruMedical Solutions collects information from our users at several points on our website:
			<dl>
				<dt>Registration</dt><dd>In order to use some functions of this website, a user must first complete a registration form. During registration a user is required to give their contact information (such as name and email address).</dd>
				<dt>Ordering</dt><dd>We request information from the user when completing an order. Here, a user must provide contact information (like name and shipping address) and financial information (like credit card number, expiration date). This information is used specifically for billing purposes and to fill customer's orders. If we have trouble processing an order, this contact information is used to get in touch with the user.</dd>
				<dt>Cookies</dt><dd>Cookies are bits of information stored on your computer that enable us to customize your shopping experience and identify you when you return. Cookies can be disabled, but please keep in mind that if you do so, your browsing experience may be limited.</dd>
				<dt>Log Files</dt><dd>We use IP addresses to analyze trends, administer the site, and track user movement only within our website. IP addresses are not linked to personally identifiable information.</dd>
				<dt>Communications</dt><dd>TruMedical Solutions may also retain the content of the communications that are sent to our customer service representatives.</dd>
			</dl>
			<h2>Information Use</h2>
			<p>The information collected by TruMedical Solutions is used to, among other things, aggregate statistical information, facilitate system administration, improve the content of the website, fill orders, and also to respond to user requests for information and to otherwise render service. TruMedical Solutions may also use the information collected to notify site users of changes to the website, to notify visitors of new products, special promotional offers, or for other legitimate business purposes. If you do not wish to receive e-mails from us, please contact Customer Service.</p>

			<h2>Confidentiality and Disclosure</h2>
			<p>TruMedical Solutions considers the personally identifiable information contained in our business records to be confidential. TruMedical Solutions does not provide any personally identifiable information to other companies except when necessary to render service. We may disclose personally identifiable information about you to our employees for TruMedical Solutions’ internal business purposes, as well as to outside auditors, professional advisors, service providers and regulators. We make these disclosures when the disclosure is necessary to render, or conduct a legitimate business activity. We may also be required by law or legal process to disclose certain personally identifiable information about you. TruMedical Solutions may use and disclose personally identifiable information as provided for by applicable law in order to perform legitimate business activity. Some examples: billing and invoicing, administration, surveys, collection of fees and charges, marketing, service delivery and customization, maintenance and operations, technical support, hardware and software upgrades, and fraud prevention.</p>

			<h2>Legal Disclaimer</h2>
			<p>We make every reasonable effort to protect site user privacy as described. Nevertheless, we may be required by law to disclose personally identifiable information about a site user without his or her consent and without notice in order to comply with a valid legal process such as a subpoena, court order, or search warrant. We may also use or disclose personally identifiable information about you without your consent to protect our customers, employees, or property.</p>

			<h2>Transmission of Information</h2>
			<p>TruMedical Solutions transmits personally identifiable and non-personally identifiable information about you when you receive e-mail, or electronic documents. Our transmission of this information is necessary to render service. TruMedical Solutions may use third parties to deliver some features and functions of service, such as electronic document delivery. These third parties are not permitted to use your personally identifiable information except for the purpose of providing their services.</p>

			<h2>Links</h2>
			<p>This website contains links to other sites. Please be aware that TruMedical Solutions is not responsible for the privacy practices of other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each website that collects personally identifiable information. This privacy statement applies solely to information collected by TruMedical Solutions.</p>

			<h2>Inactivate Online Accounts</h2>
			<p>An online account may be inactivated by email request to Site Support. Inactivation could take up to 24 hours and only applies to registered online accounts, not ordering accounts. If there is an urgent security issue, please change the account password and email address if necessary and contact Site Support.</p>

			<h2>Report Suspected Fraud</h2>
			<p>If you suspect that you’re login information has been misused by other parties or fraudulent ordering is occurring on your account, please change your password and contact Customer Service immediately.</p>
			
		</div>
		<div id='requestCatelog'>
			<div id="catelogImage" style="float:left">
				<%= image_tag("footer/catelog_cover.jpg") %> <!-- 125x162 -->
			</div>
			<!-- <img scr="/images/shared/catelog.jpg" alt="TruMedical Product Catelog" style="float:left;"  > -->
			<div id="request" style="margin-left: 160px;">
				<p>If you would like us to mail you a printed copy of our 2011 Product Catelog, please fill in your mailing address below, and indicate how many copies you would like. </p>
	
				<% @user = User.new() %> <!-- form_for takes an instance of the model class, not the class itself: awkward for object creation -->
				<%= form_for @user do |f| %>
					<%= f.label :first_name %>
					<%= f.text_field :first_name %><br/>
					<%= f.label :last_name %>
					<%= f.text_field :last_name %><br />
					<%= f.label :email_address %>
					<%= f.email_field :email_address %><br/>
					<%= f.label :wants_n_catelogs, "How many would you like?" %>
					<%= f.number_field :wants_n_catelogs, :size => "3", :in => 1...10 %><br/>
					
					<%= f.submit "Submit" %>
				<% end %>
					
					
				 
			</div>
	
		</div>
		
			<%= yield :body %>

		
			  
		<!-- footer     ————————————————————————————————————————————————————————————— -->
		
		<!-- NOTE: class="home_footer" makes the div 'position:absolute'; w/o it is 'position:relative';
				 This is defined in file style.css (modified version of style-mavic.css) which became the
				 base for trumedical_base.css.
				 Fix this once get home page working in Rails.
		-->
		
		<div id="footer" >
		
		<!--
			<script type="text/javascript">
				var nlvalue,firstFocus=true;
				$(document).ready(function() {
					var enternl = $('#newsl_input');
					enternl.focus( function () {
						if(firstFocus){
							firstFocus=false;
							nlvalue = enternl.val();
							enternl.val('');
						}
				}).blur( function () {
					(enternl.val().replace(/\s*/,"") == "")?enternl.val(nlvalue):"";
				});
				popupnewslettersubscript();
				});
			</script>
		-->
			<div class="left">
				<a href="#requestCatelog">Request a Catalog</a> <!-- restyle; its not a clickable link -->
				
				
				<!-- search by competitor part no ——————————————————————————————— -->
				<!-- commented out because when used with devise register/login users/registration gets an error
					when it attempts to generate a link to { :controller => 'devise/products', :action => 'search' } 
					rather than { :controller => 'products', :action => 'search'} 
				-->
				<%= render :partial => '/shared/metasearch' %>
		
				
				<!-- <a href="#">Competitor Cross Reference:</a> -->
				<!--
				<form id="nlsubmit" action="#" method="post" name="nlsubmit">
					<a href="#">Competitor Cross Reference:</a>
					<div class="whitebg">
						<input class="enternl" id="sammons_no" type="text" name="sammons_no" value="Enter product number" maxlength="100" autocomplete="off" style="width:136px;"> 
						<input class="submitnl" type="submit" name="submitnl" value="GO">
					</div>
				</form>		
			 -->
				<a href="#contactUs">Contact Us</a> 
				<a href="#privacyPolicy">Privacy Policy</a> 
				<!-- <a href="#">FAQs</a> -->
				
				<span style="color:white;">Find us on:</span> 
				<a href="http://www.facebook.com/trumedical"><img src="../images/footer/facebook.png" width="16" height="16" alt="">&nbsp;Facebook</a> 
				<a href="http://twitter.com/trumedical"><img src="../images/footer/twitter.png" width="16" height="16" alt="">&nbsp;Twitter</a>
				<!-- <a>&copy;TruMedical Solutions LLC, 2011</a> -->    
			</div> <!-- end of div 'left' -->
		
			<div class="right"></div> 			<!-- used for? -->
			<div class="clear"></div>				<!-- purpose? -->
			<div class="clear-both"></div>  <!-- purpose? -->
				
		</div> <!-- end div 'footer' -->
		
			
		<%= yield :js_before_close_of_body %> 
		
	</body>
</html>

